openapi: 3.1.0

info:
  title: BamForm API
  version: 1.0.0
  summary: Preventive maintenance record and approval system
  description: |
    Machine-readable contract for BamForm. This document is authoritative;
    BAMFORM-API-001 explains it. Divergence between this specification and the
    running implementation fails the CI build.

    Conventions, error catalogue, permission matrix and the offline sync
    protocol are described in BAMFORM-API-001.
  contact:
    name: BamForm project
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary

servers:
  - url: https://form.bevorasg.com/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: Health
  - name: Auth
  - name: Areas
  - name: Asset Types
  - name: Assets
  - name: Templates
  - name: Jobs
  - name: Approval
  - name: Sync
  - name: Archive
  - name: Reports
  - name: Audit
  - name: Admin

security:
  - bearerAuth: []

paths:

  /health:
    get:
      tags: [Health]
      operationId: getHealth
      summary: Liveness probe
      description: No dependency round-trip - confirms only that the process is up.
      security: []
      responses:
        '200':
          description: Service is live
          content:
            application/json:
              schema:
                type: object
                required: [status, version]
                properties:
                  status: { type: string, const: ok }
                  version: { type: string }
                  commit: { type: string }
              example: { status: ok, version: 1.0.0, commit: a1b2c3d }

  /health/ready:
    get:
      tags: [Health]
      operationId: getReadiness
      summary: Readiness probe - checks Postgres, Redis and MinIO
      description: Distinct from `/healthz` (liveness) - fails if any dependency is unreachable.
      security: []
      responses:
        '200':
          description: All dependencies reachable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, const: ready }
                  checks:
                    type: object
                    additionalProperties: { type: string }
              example: { status: ready, checks: { postgres: ok, redis: ok, minio: ok } }
        '503':
          $ref: '#/components/responses/Problem'

  /healthz:
    get:
      tags: [Health]
      operationId: getHealthz
      summary: Liveness probe (slice 1 implementation)
      description: |
        The actual liveness probe implemented so far — no dependency
        round-trip (health.controller.ts). Distinct from `/health` above,
        which documents the eventual richer liveness response (version +
        commit) that slice 8's `dist/healthcheck.js` build-out is expected
        to serve; `/health/ready` (Postgres/Redis/MinIO checks) is likewise
        not yet implemented. Tracked in
        `api/test/contract/known-gaps.ts#FUTURE_OPENAPI_PATHS`.
      security: []
      responses:
        '200':
          description: Service is live
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { type: string, const: ok }
              example: { status: ok }

  /.well-known/jwks.json:
    get:
      tags: [Auth]
      operationId: getJwks
      summary: Published Ed25519 verification keys
      description: PR-087 - clients use `kid` to select the correct verification key.
      security: []
      responses:
        '200':
          description: JSON Web Key Set
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items: { type: object, additionalProperties: true }
              example: { keys: [ { kty: OKP, crv: Ed25519, kid: bf-2026-07, x: "11qYAY…" } ] }

  /auth/login:
    post:
      tags: [Auth]
      operationId: login
      summary: Authenticate and receive an access token
      description: Rate-limited (10/min per IP); account lockout after 5 failures.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password, minLength: 12 }
            example: { email: tech@bevorasg.com, password: "••••••••••••" }
      responses:
        '200':
          description: Authenticated. Refresh token is set as an HttpOnly cookie.
          headers:
            Set-Cookie:
              description: bf_refresh - HttpOnly, Secure, SameSite=Strict
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResult' }
        '401': { $ref: '#/components/responses/Problem' }
        '429': { $ref: '#/components/responses/Problem' }

  /auth/refresh:
    post:
      tags: [Auth]
      operationId: refreshToken
      summary: Rotate the refresh token and issue a new access token
      description: |
        Single-use with rotation. Presenting a spent token revokes the entire
        token family and raises a security audit event.
      security: []
      responses:
        '200':
          description: New token pair issued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResult' }
        '401': { $ref: '#/components/responses/Problem' }

  /auth/logout:
    post:
      tags: [Auth]
      operationId: logout
      summary: Revoke the refresh family and deny-list the current access token
      description: Adds the current access token's `jti` to the Redis denylist for the remainder of its natural lifetime (PR-088).
      responses:
        '204': { description: Logged out }
        '401': { $ref: '#/components/responses/Problem' }

  /auth/step-up:
    post:
      tags: [Auth]
      operationId: stepUp
      summary: Re-authenticate immediately before signing
      description: PR-API-07 - refreshes `last_authenticated_at` so a subsequent signing action (approve/verify) passes its step-up check.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, format: password }
      responses:
        '200':
          description: Step-up window refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  stepUpValidUntil: { type: string, format: date-time }
              example: { stepUpValidUntil: '2026-07-24T02:30:00Z' }
        '401': { $ref: '#/components/responses/Problem' }
        '429': { $ref: '#/components/responses/Problem' }

  /auth/me:
    get:
      tags: [Auth]
      operationId: getCurrentUser
      summary: Current user, roles, area scope and active delegations
      description: Re-reads area scope and delegations fresh from the database - the access token carries neither claim.
      responses:
        '200':
          description: Current principal
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CurrentUser' }
        '401': { $ref: '#/components/responses/Problem' }

  /areas:
    get:
      tags: [Areas]
      operationId: listAreas
      summary: List areas
      description: DBD §6.1 - the scope source for PR-API-10; areas are not themselves area-scoped.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated areas
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Area' }
        '401': { $ref: '#/components/responses/Problem' }
    post:
      tags: [Areas]
      operationId: createArea
      summary: Create an area
      description: ADMIN only - organisational/master data.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AreaCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Area' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Duplicate area code
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /areas/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Areas]
      operationId: getArea
      summary: Get an area
      description: Not itself area-scoped (an area cannot be scoped to itself).
      responses:
        '200':
          description: Area
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Area' }
        '404': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [Areas]
      operationId: updateArea
      summary: Update an area. Deactivation only, never deletion.
      description: ADMIN only.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AreaUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Area' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /asset-types:
    get:
      tags: [Asset Types]
      operationId: listAssetTypes
      summary: List asset types
      description: Global reference data - not area-scoped.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated asset types
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/AssetType' }
        '401': { $ref: '#/components/responses/Problem' }
    post:
      tags: [Asset Types]
      operationId: createAssetType
      summary: Create an asset type
      description: ENGINEER or ADMIN. Exactly one form_template per asset type (1:1).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetTypeCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetType' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Duplicate asset-type code, or the form_template already governs another asset type
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /asset-types/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Asset Types]
      operationId: getAssetType
      summary: Get an asset type
      description: DBD §6.7 - one form_template per asset type (1:1).
      responses:
        '200':
          description: Asset type
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetType' }
        '404': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [Asset Types]
      operationId: updateAssetType
      summary: Update an asset type. Deactivation only, never deletion.
      description: ENGINEER or ADMIN.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetTypeUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetType' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /assets:
    get:
      tags: [Assets]
      operationId: listAssets
      summary: List assets
      description: Filtered to the caller's area scope (PR-API-10) when they have one.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: assetTypeId
          in: query
          schema: { type: string, format: uuid }
        - name: areaId
          in: query
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/AssetStatus' }
      responses:
        '200':
          description: Paginated assets
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Asset' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
    post:
      tags: [Assets]
      operationId: createAsset
      summary: Create an asset
      description: ENGINEER or ADMIN. Rejects a duplicate `code` (INV-06).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '409':
          description: Duplicate asset code
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /assets/{assetId}:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    get:
      tags: [Assets]
      operationId: getAsset
      summary: Get an asset
      description: 403 (`/errors/out-of-scope`), not a silent 404, when the asset exists but is outside the caller's area scope.
      responses:
        '200':
          description: Asset
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '404': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [Assets]
      operationId: updateAsset
      summary: Update an asset. Deactivation only, never deletion.
      description: ENGINEER or ADMIN. `status`/`active` are the only removal mechanism (deactivation).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '404': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /assets/{assetId}/history:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    get:
      tags: [Assets]
      operationId: getAssetHistory
      summary: Complete maintenance history for one asset
      description: UR-007. Real and area-scoping-correct today; returns an empty page until scheduling/result-capture (slice 5/6) generates jobs.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated record history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/RecordSummary' }
        '404': { $ref: '#/components/responses/Problem' }

  /assets/{assetId}/schedule:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    get:
      tags: [Assets]
      operationId: getAssetSchedule
      summary: Current schedule_rule state for one asset (one entry per frequency)
      description: |
        UR-023. 403 (`/errors/out-of-scope`), not a silent 404, when the asset
        exists but is outside the caller's area scope. A row exists for every
        frequency with at least one active template item in the asset's
        template's current revision (PR-053) — created lazily on first read
        if the asset was onboarded after its template revision went current.
      responses:
        '200':
          description: Schedule rules, one per scheduled frequency
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ScheduleRule' }
        '404': { $ref: '#/components/responses/Problem' }
    put:
      tags: [Assets]
      operationId: adjustAssetSchedule
      summary: Manually adjust one frequency's next due date
      description: |
        TEAM_LEADER, ENGINEER or ADMIN (permission matrix §4.1 "Adjust
        schedules"). PR-058/UR-025: `adjustedReason` is mandatory (minimum 10
        characters) and is recorded to the audit trail.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScheduleAdjust' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScheduleRule' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /templates:
    get:
      tags: [Templates]
      operationId: listTemplates
      summary: List form templates
      description: |
        Read-only - the twelve source templates are loaded by BAMFORM-TLP-001's
        separate tooling (PR-DBD-10), not through this API.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated templates
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/FormTemplate' }
        '401': { $ref: '#/components/responses/Problem' }

  /templates/{templateId}:
    parameters:
      - name: templateId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Templates]
      operationId: getTemplate
      summary: Get a form template. Includes the current revision summary.
      description: Read-only - see `listTemplates`.
      responses:
        '200':
          description: Form template
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FormTemplate' }
        '404': { $ref: '#/components/responses/Problem' }

  /templates/{templateId}/revisions:
    parameters:
      - name: templateId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Templates]
      operationId: listRevisions
      summary: Full revision history for a template
      description: UR-011. Newest first (by `sequenceOrdinal` descending).
      responses:
        '200':
          description: Revisions, newest first
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TemplateRevision' }
        '404': { $ref: '#/components/responses/Problem' }
    post:
      tags: [Templates]
      operationId: createRevision
      summary: Create a draft revision. Sequence is assigned server-side.
      description: ENGINEER or DOC_CONTROLLER. Copies forward the current revision's items/measurements/standing content (PR-028).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [revisionCode, changeDescription]
              properties:
                revisionCode: { type: string, examples: [F] }
                changeDescription: { type: string, minLength: 5 }
      responses:
        '201':
          description: Draft created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '422':
          description: Would create a gap in the revision sequence
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /revisions/{revisionId}:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    get:
      tags: [Templates]
      operationId: getRevision
      summary: Get a template revision
      description: Includes the full items/measurements/standing content for this specific revision (frozen once approved).
      responses:
        '200':
          description: Revision
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '404': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [Templates]
      operationId: patchRevision
      summary: Edit draft metadata (revision code, change description, standing content)
      description: Only while the revision is DRAFT (ENGINEER or DOC_CONTROLLER).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                revisionCode: { type: string }
                changeDescription: { type: string, minLength: 5 }
                standingContent: { $ref: '#/components/schemas/StandingContent' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Revision is not DRAFT
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /revisions/{revisionId}/items:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    put:
      tags: [Templates]
      operationId: replaceRevisionItems
      summary: Replace the checklist items on a draft revision
      description: |
        Documented as "replace wholesale" - implemented as an upsert by
        `stableKey` (existing rows updated in place, a dropped stableKey is
        soft-removed via `active=false`, not deleted: `bamform_app` holds no
        DELETE grant on any table, INV-16). The response never includes
        `active` - it is server-internal and always true for any row
        returned (every read path filters `active=true`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/TemplateItemInput' }
      responses:
        '200':
          description: Replaced
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TemplateItem' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Revision not in draft
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /revisions/{revisionId}/measurements:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    put:
      tags: [Templates]
      operationId: replaceRevisionMeasurements
      summary: Replace the measurement definitions on a draft revision
      description: |
        Documented as "replace wholesale" - implemented as an upsert by
        `stableKey` (same mechanism as `PUT .../items`, see that operation's
        description) for the same INV-16 (no DELETE grant) reason.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/TemplateMeasurement' }
      responses:
        '200':
          description: Replaced
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TemplateMeasurement' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Revision not in draft
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          description: Specification limits inverted (lowerLimit > upperLimit, INV-04)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /revisions/{revisionId}/submit:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    post:
      tags: [Templates]
      operationId: submitRevision
      summary: Submit a draft revision for approval. DRAFT -> PENDING_APPROVAL.
      description: ENGINEER or DOC_CONTROLLER.
      responses:
        '200':
          description: Submitted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Revision is not DRAFT
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /revisions/{revisionId}/approve:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    post:
      tags: [Templates]
      operationId: approveRevision
      summary: Approve and issue a revision. Requires step-up authentication.
      description: |
        PENDING_APPROVAL -> CURRENT. DOC_CONTROLLER. `errors/self-approval`
        (**409**, not 403 - correcting a prior documentation defect: the
        actor being the revision's own author is a conflict with the
        resource's state (INV-03), not an authorization failure) is raised
        when the approver authored the revision (PR-047).
      responses:
        '200':
          description: Revision is now current; the previous revision is superseded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '401': { $ref: '#/components/responses/Problem' }
        '403':
          description: Step-up required (`/errors/step-up-required`, PR-API-07)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409':
          description: |
            `/errors/self-approval` - actor authored this revision (INV-03,
            PR-047), or `/errors/invalid-transition` - revision is not
            PENDING_APPROVAL
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /revisions/{revisionId}/reject:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    post:
      tags: [Templates]
      operationId: rejectRevision
      summary: Reject a pending revision. PENDING_APPROVAL -> REJECTED.
      description: DOC_CONTROLLER. Requires a reason.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 10 }
      responses:
        '200':
          description: Rejected
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Revision is not PENDING_APPROVAL
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs:
    get:
      tags: [Jobs]
      operationId: listJobs
      summary: List jobs
      description: |
        Area-scoped (PR-API-10). A MAINTAINER sees only jobs assigned to
        them; TEAM_LEADER/ENGINEER/DOC_CONTROLLER/ADMIN/AUDITOR see every
        job in their area scope (API_SPECIFICATION.md §4.1). `overdue` is
        derived at read time (PR-043), never stored.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/JobStatus' }
        - name: assignedTo
          in: query
          schema: { type: string, format: uuid }
        - name: assetId
          in: query
          schema: { type: string, format: uuid }
        - name: overdue
          in: query
          schema: { type: boolean }
        - name: dueFrom
          in: query
          schema: { type: string, format: date }
        - name: dueTo
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Paginated jobs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/JobSummary' }
        '401': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}:
    parameters:
      - $ref: '#/components/parameters/JobId'
    get:
      tags: [Jobs]
      operationId: getJob
      summary: Full job including the frozen template revision content
      description: |
        `templateRevision.items`/`.measurements` are the ACTIVE rows only
        (DP-3/PR-049 — the revision bound at generation, frozen). 403
        `out-of-scope` if the job's asset is outside the caller's area scope;
        403 `forbidden` if a MAINTAINER requests a job not assigned to them.
      responses:
        '200':
          description: Job
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/items/{templateItemId}:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - name: templateItemId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/IfMatch'
    put:
      tags: [Jobs]
      operationId: recordItemResult
      summary: Record or update a checklist item result
      description: |
        `Idempotency-Key` is REQUIRED (reachable from the offline outbox,
        PR-API-16). Upserts by `(jobId, templateItemId)`. Transitions the job
        ASSIGNED -> IN_PROGRESS on the first result (PRD §5.1). `If-Match` is
        checked against `draftVersion` when supplied.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ItemResultInput' }
      responses:
        '200':
          description: Recorded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ItemResult' }
        '409':
          description: Draft version conflict, or the record is archived
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/measurements/{templateMeasurementId}:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - name: templateMeasurementId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/IfMatch'
    put:
      tags: [Jobs]
      operationId: recordMeasurementResult
      summary: Record or update a measurement reading
      description: |
        `judgement` is computed server-side from the frozen
        `template_measurement`'s specification (PR-032) — the request never
        supplies it. `Idempotency-Key` is REQUIRED (PR-API-16).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MeasurementResultInput' }
      responses:
        '200':
          description: Recorded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MeasurementResult' }
        '409': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/attachments:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Jobs]
      operationId: uploadAttachment
      summary: Upload a photograph. Validated by magic bytes, not extension.
      description: |
        Streamed through the api to MinIO (PR-011/ADR-007 — never presigned).
        Content is sniffed by magic bytes, never trusted from the declared
        MIME type or filename extension (S-30). Size-capped
        (`ATTACHMENT_MAX_BYTES`, S-32) and per-job-capped
        (`ATTACHMENT_MAX_PER_JOB`). `Idempotency-Key` is REQUIRED.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                itemResultId: { type: string, format: uuid }
      responses:
        '201':
          description: Stored
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Attachment' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/attachments/{attachmentId}:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - name: attachmentId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Jobs]
      operationId: getAttachment
      summary: Fetch a stored attachment
      description: |
        Streamed through the api, NEVER a presigned URL (PR-011/ADR-007).
        Authorisation is evaluated on EVERY fetch, not only at upload time
        (UR-074, UR-099) — an unauthorised caller gets 403 and the object is
        never read off MinIO (S-19/I-INV-19).
      responses:
        '200':
          description: The stored image bytes
          content:
            image/jpeg: { schema: { type: string, format: binary } }
            image/png: { schema: { type: string, format: binary } }
            image/webp: { schema: { type: string, format: binary } }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/parts:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Jobs]
      operationId: recordPart
      summary: Record a part consumed on this job
      description: |
        UR-034/PR-033. No `DELETE` counterpart — BUILD_HANDOFF non-negotiable
        #7 (`bamform_app` holds no `DELETE` grant on any table, DBD §7.1);
        this supersedes API_SPECIFICATION.md §10.5's documented
        `DELETE /jobs/{id}/parts/{partId}` (see slice-6-report.md).
        `Idempotency-Key` is honoured when supplied but not required.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PartUsedInput' }
      responses:
        '201':
          description: Recorded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PartUsed' }
        '409': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/submit:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Jobs]
      operationId: submitJob
      summary: Submit a completed record for verification
      description: |
        Atomic. Rejected if any mandatory item has no result. Never sent as part
        of an outbox batch - all preceding mutations for the job must be
        acknowledged first.
      responses:
        '200':
          description: Submitted and routed to the verification queue
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '409':
          description: Job is not IN_PROGRESS (PRD §5.1) - invalid-transition
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          description: Mandatory items outstanding - the list is returned
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /jobs/{jobId}/verify:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Approval]
      operationId: verifyJob
      summary: Verify a record. Requires step-up. Archives on the final stage.
      description: |
        Two-stage route (ADR-011, delivered configuration: stage 1
        TEAM_LEADER, stage 2 ENGINEER — Samuel's confirmed decision). Advances
        `currentStageOrdinal` on a non-final stage; on the LAST stage,
        `SUBMITTED` -> `ARCHIVED` in the SAME transaction (PR-042/INV-13) — the
        job never rests `VERIFIED`. Produces an `approval_step` with the
        drawn signature (encrypted) PLUS a content-bound Ed25519 signature
        over the canonical record (ADR-010, PR-093/094). `onBehalfOf` (PR-076)
        names the delegator when acting under an active delegation; an
        expired/absent delegation is rejected `403`. Self-approval
        (`actor == job.submittedBy`) is rejected `409` (INV-05, PR-044,
        enforced in the service AND by a database trigger).
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VerifyJobRequest' }
      responses:
        '200':
          description: Verified (and archived, if this was the final stage)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '403':
          description: |
            `/errors/step-up-required` - re-authentication needed (PR-API-07);
            `/errors/forbidden` - actor does not hold a role eligible for this
            stage, or (S-25) no currently-active delegation permits acting on
            behalf of the named user
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409':
          description: |
            `/errors/self-approval` - actor is the submitter (INV-05, S-22);
            `/errors/invalid-transition` - job is not SUBMITTED, or was
            already advanced by another verifier
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          description: '`/errors/attachment-rejected` - drawnSignature is not a valid PNG (magic-byte check)'
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /jobs/{jobId}/return:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Approval]
      operationId: returnJob
      summary: Return a record to the maintainer for rework
      description: |
        `SUBMITTED` -> `IN_PROGRESS` (PR-074). TEAM_LEADER/ENGINEER. Reason
        required, >= 10 characters (INV-13). All previously entered results
        are preserved; `currentStageOrdinal` resets — a resubmission restarts
        both verification stages, since the content-bound signatures of any
        prior verify no longer describe the (about-to-be-reworked) content.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 10 }
      responses:
        '200':
          description: Returned; all previously entered results are preserved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '409': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/recall:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Approval]
      operationId: recallJob
      summary: Submitter pulls back their own submission before verification
      description: |
        `SUBMITTED` -> `IN_PROGRESS` (PR-075, UR-051). Submitter only, only
        while `SUBMITTED`. No request body.
      responses:
        '200':
          description: Recalled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '403':
          description: '`/errors/forbidden` - only the submitter may recall this record'
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/void:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Approval]
      operationId: voidJob
      summary: Void a job. The record remains visible and queryable.
      description: |
        PR-046/INV-12. TEAM_LEADER/ENGINEER/ADMIN. Reason required, >= 10
        characters. Legal from SCHEDULED, ASSIGNED, IN_PROGRESS or SUBMITTED
        - never from VERIFIED/ARCHIVED/VOIDED (PRD §5.1). This is NOT a
        delete (non-negotiable #7 - `bamform_app` holds no `DELETE` grant on
        any table); the job stays queryable with `status: VOIDED`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 10 }
      responses:
        '200':
          description: Voided
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '409': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /queue:
    get:
      tags: [Approval]
      operationId: getVerificationQueue
      summary: Records awaiting the caller's verification, including delegated queues
      description: Slice 7 (docs/BUILD_HANDOFF.md §3) - not yet implemented.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Queue ordered by age, overdue distinguished
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/QueueEntry' }

  /sync/bootstrap:
    get:
      tags: [Sync]
      operationId: syncBootstrap
      summary: Everything the device needs to work offline
      description: |
        Embeds the complete frozen template revision for each assigned job so the
        device can render the full form with no further network calls.
      parameters:
        - name: since
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Bootstrap payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SyncBootstrap' }

  /sync/outbox:
    post:
      tags: [Sync]
      operationId: syncOutbox
      summary: Drain a batch of queued offline mutations
      description: |
        Applied in client sequence order, transactionally per job. Per-mutation
        results are returned; one failure does not block the batch. Each
        mutation id doubles as its idempotency key, so replaying a batch is safe.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mutations]
              properties:
                mutations:
                  type: array
                  maxItems: 200
                  items: { $ref: '#/components/schemas/OutboxMutation' }
      responses:
        '200':
          description: Per-mutation results
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/OutboxResult' }
                  syncToken: { type: string }
        '429': { $ref: '#/components/responses/Problem' }

  /records/{recordId}/pdf:
    parameters:
      - name: recordId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Archive]
      operationId: getRecordPdf
      summary: Render the record in the controlled paper form layout
      description: Slice 12 (docs/BUILD_HANDOFF.md §3) - not yet implemented.
      responses:
        '200':
          description: PDF
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '404': { $ref: '#/components/responses/Problem' }

  /records/{recordId}/integrity:
    parameters:
      - name: recordId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Archive]
      operationId: verifyRecordIntegrity
      summary: Recompute the content hash and verify the signature
      description: |
        Recomputes the canonical serialisation from current data, re-derives the
        digest, compares it to the stored value and verifies the Ed25519
        signature. This is the mechanism behind acceptance criterion AC-11.
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IntegrityResult' }
        '404': { $ref: '#/components/responses/Problem' }

  /reports/measurements:
    get:
      tags: [Reports]
      operationId: getMeasurementTrend
      summary: Measurement trend series for an asset
      description: |
        Returns readings over time for one measurement identity on one asset,
        joined across template revisions by stable key.
      parameters:
        - name: assetId
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: stableKey
          in: query
          required: true
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Trend series with the specification band
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MeasurementTrend' }

  /audit-events/chain-status:
    get:
      tags: [Audit]
      operationId: getAuditChainStatus
      summary: Verify the hash chain over the audit log
      description: |
        Walks `audit_event` ordered by `sequence`, recomputes each row's hash
        using the exact formula the slice-1 database trigger
        (`compute_audit_event_hash_chain`) applies at insert time, and
        checks `prev_hash` linkage. Runs on demand (recompute), the same
        design as `GET /records/{recordId}/integrity`. `AUDITOR`/`ADMIN`
        only (SECURITY_ARCHITECTURE.md §4.2 P2, PR-097/PR-099).
      responses:
        '200':
          description: Chain verification result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuditChainStatus' }
        '403': { $ref: '#/components/responses/Problem' }

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Ed25519-signed access token, 15 minute TTL

  parameters:
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    Cursor:
      name: cursor
      in: query
      description: Opaque. Clients must not construct or parse it.
      schema: { type: string }
    AssetId:
      name: assetId
      in: path
      required: true
      schema: { type: string, format: uuid }
    JobId:
      name: jobId
      in: path
      required: true
      schema: { type: string, format: uuid }
    RevisionId:
      name: revisionId
      in: path
      required: true
      schema: { type: string, format: uuid }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: Client-generated UUIDv7. Required on endpoints reachable from the offline outbox.
      schema: { type: string, format: uuid }
    IfMatch:
      name: If-Match
      in: header
      description: The job draftVersion the client based this mutation on.
      schema: { type: string }

  responses:
    Problem:
      description: RFC 9457 Problem Details
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:

    Problem:
      type: object
      required: [type, title, status]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        requestId: { type: string }
        errors:
          type: array
          items:
            type: object
            properties:
              pointer: { type: string }
              code: { type: string }
              message: { type: string }
      examples:
        - type: https://form.bevorasg.com/errors/incomplete-record
          title: Record is incomplete
          status: 422
          detail: 3 mandatory items have no recorded status.
          requestId: 01JQ8X2N
          errors:
            - pointer: /items/9
              code: REQUIRED
              message: Item 9 has no recorded status

    Page:
      type: object
      required: [page]
      properties:
        page:
          type: object
          required: [hasMore, limit]
          properties:
            nextCursor: { type: [string, 'null'] }
            hasMore: { type: boolean }
            limit: { type: integer }
            total: { type: [integer, 'null'], description: Present only when includeTotal=true }

    Frequency:
      type: string
      enum: [M1, M3, M6, Y]

    AssetStatus:
      type: string
      enum: [ACTIVE, UNDER_REPAIR, DECOMMISSIONED]

    JobStatus:
      type: string
      enum: [SCHEDULED, ASSIGNED, IN_PROGRESS, SUBMITTED, VERIFIED, ARCHIVED, VOIDED]

    ItemStatus:
      type: string
      enum: [DONE, NOT_APPLICABLE, NOT_DONE]

    SpecType:
      type: string
      enum: [RANGE, TOLERANCE, PASS_FAIL, TEXT]

    Judgement:
      type: string
      enum: [PASS, FAIL, NOT_EVALUATED]

    AuthResult:
      type: object
      required: [accessToken, expiresIn, user]
      properties:
        accessToken: { type: string }
        expiresIn: { type: integer, description: Seconds }
        user: { $ref: '#/components/schemas/CurrentUser' }

    CurrentUser:
      type: object
      required: [id, fullName, roles]
      properties:
        id: { type: string, format: uuid }
        fullName: { type: string }
        email: { type: string, format: email }
        roles:
          type: array
          items: { type: string }
        areaScope:
          type: array
          items: { type: string, format: uuid }
        activeDelegations:
          type: array
          items:
            type: object
            properties:
              delegatorId: { type: string, format: uuid }
              delegatorName: { type: string }
              validTo: { type: string, format: date-time }
        stepUpValidUntil: { type: [string, 'null'], format: date-time }

    Asset:
      type: object
      required: [id, code, assetTypeId, status]
      properties:
        id: { type: string, format: uuid }
        code: { type: string, examples: [AW03] }
        assetTypeId: { type: string, format: uuid }
        assetTypeName: { type: string }
        description: { type: [string, 'null'] }
        manufacturer: { type: [string, 'null'] }
        model: { type: [string, 'null'] }
        serialNumber: { type: [string, 'null'] }
        areaId: { type: [string, 'null'], format: uuid }
        locationDetail: { type: [string, 'null'] }
        commissionedOn: { type: [string, 'null'], format: date }
        scheduleAnchorDate: { type: string, format: date }
        status: { $ref: '#/components/schemas/AssetStatus' }
        active: { type: boolean }

    AssetCreate:
      type: object
      required: [code, assetTypeId, scheduleAnchorDate]
      properties:
        code: { type: string, minLength: 1, maxLength: 50 }
        assetTypeId: { type: string, format: uuid }
        description: { type: string }
        manufacturer: { type: string }
        model: { type: string }
        serialNumber: { type: string }
        areaId: { type: string, format: uuid }
        locationDetail: { type: string }
        commissionedOn: { type: string, format: date }
        scheduleAnchorDate: { type: string, format: date }

    AssetUpdate:
      type: object
      properties:
        description: { type: string }
        manufacturer: { type: string }
        model: { type: string }
        areaId: { type: string, format: uuid }
        locationDetail: { type: string }
        status: { $ref: '#/components/schemas/AssetStatus' }
        active: { type: boolean }

    ScheduleRule:
      type: object
      required: [id, assetId, frequency, intervalMonths, anchorDate, nextDueOn, active]
      properties:
        id: { type: string, format: uuid }
        assetId: { type: string, format: uuid }
        frequency: { $ref: '#/components/schemas/Frequency' }
        intervalMonths: { type: integer, examples: [1, 3, 6, 12] }
        anchorDate: { type: string, format: date }
        lastCompletedOn: { type: [string, 'null'], format: date }
        nextDueOn: { type: string, format: date }
        adjustedReason: { type: [string, 'null'] }
        active: { type: boolean }

    ScheduleAdjust:
      type: object
      required: [frequency, nextDueOn, adjustedReason]
      properties:
        frequency: { $ref: '#/components/schemas/Frequency' }
        nextDueOn: { type: string, format: date }
        adjustedReason: { type: string, minLength: 10 }

    Area:
      type: object
      required: [id, code, name, active]
      properties:
        id: { type: string, format: uuid }
        code: { type: string }
        name: { type: string }
        parentId: { type: [string, 'null'], format: uuid }
        active: { type: boolean }

    AreaCreate:
      type: object
      required: [code, name]
      properties:
        code: { type: string, minLength: 1, maxLength: 50 }
        name: { type: string, minLength: 1 }
        parentId: { type: string, format: uuid }

    AreaUpdate:
      type: object
      properties:
        name: { type: string, minLength: 1 }
        parentId: { type: [string, 'null'], format: uuid }
        active: { type: boolean }

    AssetType:
      type: object
      required: [id, code, name, formTemplateId, approvalRouteId, leadTimeDays, active]
      properties:
        id: { type: string, format: uuid }
        code: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        formTemplateId: { type: string, format: uuid, description: One form_template per asset type (1:1) }
        approvalRouteId: { type: string, format: uuid }
        leadTimeDays: { type: integer }
        active: { type: boolean }

    AssetTypeCreate:
      type: object
      required: [code, name, formTemplateId, approvalRouteId]
      properties:
        code: { type: string, minLength: 1, maxLength: 50 }
        name: { type: string, minLength: 1 }
        description: { type: string }
        formTemplateId: { type: string, format: uuid }
        approvalRouteId: { type: string, format: uuid }
        leadTimeDays: { type: integer, minimum: 1 }

    AssetTypeUpdate:
      type: object
      properties:
        name: { type: string, minLength: 1 }
        description: { type: [string, 'null'] }
        leadTimeDays: { type: integer, minimum: 1 }
        active: { type: boolean }

    FormTemplate:
      type: object
      required: [id, documentNumber, title, active]
      properties:
        id: { type: string, format: uuid }
        documentNumber: { type: string, examples: ['CE 95 020 00 01'] }
        title: { type: string }
        active: { type: boolean }
        assetTypeId: { type: [string, 'null'], format: uuid }
        currentRevisionId:
          type: [string, 'null']
          format: uuid
          description: Resolves to null if no revision has ever been approved

    TemplateRevision:
      type: object
      required: [id, formTemplateId, revisionCode, sequenceOrdinal, status]
      properties:
        id: { type: string, format: uuid }
        formTemplateId: { type: string, format: uuid }
        documentNumber: { type: string, examples: ['CE 95 020 00 01'] }
        title: { type: string }
        revisionCode: { type: string, examples: [C] }
        sequenceOrdinal: { type: integer }
        status:
          type: string
          enum: [DRAFT, PENDING_APPROVAL, CURRENT, SUPERSEDED, REJECTED]
        changeDescription: { type: string }
        standingContent: { $ref: '#/components/schemas/StandingContent' }
        authoredBy: { type: string, format: uuid }
        authoredByName: { type: string }
        approvedBy: { type: [string, 'null'], format: uuid }
        approvedByName: { type: [string, 'null'] }
        approvedAt: { type: [string, 'null'], format: date-time }
        rejectedReason: { type: [string, 'null'] }
        effectiveFrom: { type: [string, 'null'], format: date-time }
        supersededAt: { type: [string, 'null'], format: date-time }
        items:
          type: array
          items: { $ref: '#/components/schemas/TemplateItem' }
        measurements:
          type: array
          items: { $ref: '#/components/schemas/TemplateMeasurement' }

    StandingContent:
      type: object
      properties:
        specialTools: { type: [string, 'null'] }
        partsRequired:
          type: array
          items:
            type: object
            properties:
              partNo: { type: string }
              description: { type: string }
              qty: { type: string }
              remarks: { type: string }
        ppe:
          type: array
          items: { type: string }
        safety: { type: [string, 'null'] }
        procedure: { type: [string, 'null'] }
        remarks: { type: [string, 'null'] }
        cascadeOverride: { type: [object, 'null'], additionalProperties: true }

    TemplateItem:
      type: object
      required: [id, itemNo, frequency, instruction, mandatory, stableKey]
      properties:
        id: { type: string, format: uuid }
        itemNo: { type: integer }
        frequency: { $ref: '#/components/schemas/Frequency' }
        instruction: { type: string }
        mandatory: { type: boolean }
        stableKey: { type: string }
        displayOrder: { type: integer }

    TemplateItemInput:
      type: object
      required: [itemNo, frequency, instruction]
      description: |
        `PUT /revisions/{id}/items` request element - never accepts `id`
        (server-assigned) or `active` (server-internal, always true in any
        response). `stableKey` is optional: a genuinely new item doesn't
        require the caller to mint one; re-sending an existing item's
        stableKey is how PR-028 carry-forward/reactivation is expressed.
      properties:
        itemNo: { type: integer, minimum: 1 }
        frequency: { $ref: '#/components/schemas/Frequency' }
        instruction: { type: string, minLength: 1 }
        mandatory: { type: boolean, default: true }
        stableKey: { type: string, minLength: 1 }
        displayOrder: { type: integer }

    TemplateMeasurement:
      type: object
      required: [description, specType, specDisplay, stableKey]
      properties:
        id: { type: string, format: uuid }
        section: { type: [string, 'null'] }
        description: { type: string }
        unit: { type: [string, 'null'], examples: ['°C'] }
        specType: { $ref: '#/components/schemas/SpecType' }
        lowerLimit: { type: [number, 'null'] }
        upperLimit: { type: [number, 'null'] }
        nominal: { type: [number, 'null'] }
        tolerance: { type: [number, 'null'] }
        specDisplay:
          type: string
          description: Verbatim printed specification text from the source document
          examples: ['150°C ± 5°C']
        stableKey: { type: string }
        displayOrder: { type: integer }

    JobSummary:
      type: object
      required: [id, jobNumber, assetCode, frequency, dueOn, status]
      properties:
        id: { type: string, format: uuid }
        jobNumber: { type: string, examples: [PM-2026-000431] }
        assetId: { type: string, format: uuid }
        assetCode: { type: string }
        documentNumber: { type: string }
        revisionCode: { type: string }
        frequency: { $ref: '#/components/schemas/Frequency' }
        frequencyScope:
          type: array
          items: { $ref: '#/components/schemas/Frequency' }
        dueOn: { type: string, format: date }
        overdue: { type: boolean }
        status: { $ref: '#/components/schemas/JobStatus' }
        assignedTo: { type: [string, 'null'], format: uuid }
        assignedToName: { type: [string, 'null'] }

    Job:
      allOf:
        - $ref: '#/components/schemas/JobSummary'
        - type: object
          properties:
            draftVersion: { type: integer }
            templateRevision: { $ref: '#/components/schemas/TemplateRevision' }
            itemResults:
              type: array
              items: { $ref: '#/components/schemas/ItemResult' }
            measurementResults:
              type: array
              items: { $ref: '#/components/schemas/MeasurementResult' }
            partsUsed:
              type: array
              items: { $ref: '#/components/schemas/PartUsed' }
            attachments:
              type: array
              items: { $ref: '#/components/schemas/Attachment' }
            approvalSteps:
              type: array
              items: { $ref: '#/components/schemas/ApprovalStep' }

    ItemResultInput:
      type: object
      required: [status]
      properties:
        status: { $ref: '#/components/schemas/ItemStatus' }
        remark: { type: [string, 'null'] }
        clientRecordedAt: { type: string, format: date-time }

    ItemResult:
      type: object
      required: [id, templateItemId, status]
      properties:
        id: { type: string, format: uuid }
        templateItemId: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/ItemStatus' }
        remark: { type: [string, 'null'] }
        recordedByName: { type: string }
        clientRecordedAt: { type: string, format: date-time }
        recordedAt: { type: string, format: date-time }

    MeasurementResultInput:
      type: object
      properties:
        readingNumeric: { type: [number, 'null'] }
        readingText: { type: [string, 'null'] }
        remark: { type: [string, 'null'] }
        clientRecordedAt: { type: string, format: date-time }

    MeasurementResult:
      type: object
      required: [id, templateMeasurementId, judgement]
      properties:
        id: { type: string, format: uuid }
        templateMeasurementId: { type: string, format: uuid }
        readingNumeric: { type: [number, 'null'] }
        readingText: { type: [string, 'null'] }
        judgement: { $ref: '#/components/schemas/Judgement' }
        remark: { type: [string, 'null'] }
        recordedByName: { type: string }
        clientRecordedAt: { type: string, format: date-time }
        recordedAt: { type: string, format: date-time }

    PartUsedInput:
      type: object
      required: [description, quantity]
      properties:
        partNo: { type: [string, 'null'] }
        description: { type: string, minLength: 1 }
        quantity: { type: number, exclusiveMinimum: 0 }
        remarks: { type: [string, 'null'] }

    PartUsed:
      type: object
      required: [id, description, quantity]
      properties:
        id: { type: string, format: uuid }
        partNo: { type: [string, 'null'] }
        description: { type: string }
        quantity: { type: number }
        remarks: { type: [string, 'null'] }

    Attachment:
      type: object
      required: [id, contentType, byteSize, uploadState]
      properties:
        id: { type: string, format: uuid }
        itemResultId: { type: [string, 'null'], format: uuid }
        originalFilename: { type: [string, 'null'] }
        contentType: { type: string, enum: [image/jpeg, image/png, image/webp] }
        byteSize: { type: integer }
        sha256: { type: string, description: Hex-encoded }
        uploadState: { type: string, enum: [pending, received] }
        uploadedByName: { type: string }
        uploadedAt: { type: string, format: date-time }

    ApprovalStep:
      type: object
      # NOTE (slice 7 code review, finding C): `actorName` is documented
      # OPTIONAL, matching what the implementation actually does.
      # `api/src/jobs/mappers.ts#toApprovalStep` never populates it —
      # `app_user.full_name` is application-layer encrypted (DBD §6.2) and no
      # read path anywhere in this codebase decrypts it yet. That's the SAME
      # already-established convention as ItemResult.recordedByName /
      # Attachment.uploadedByName / MeasurementResult.recordedByName /
      # TemplateRevision.authoredByName / TemplateRevision.approvedByName —
      # all optional/nullable, none populated, for the identical reason
      # (mappers.ts's header comment). `actorName` was previously left
      # `required` in this schema (a leftover from slice 1's speculative,
      # endpoint-not-yet-implemented scaffold) purely to dodge an oasdiff
      # "response property became optional" breaking-change flag — an
      # inaccurate contract kept to satisfy a gate is a defect, not a fix,
      # so it's corrected here. The oasdiff gate's baseline has been updated
      # (scripts/ci/oasdiff-ignore.yaml) to record this as an intentional,
      # reviewed correction rather than silencing/weakening the gate — see
      # slice-7-report.md, Fix C.
      required: [id, action, actedAt, stageOrdinal]
      properties:
        id: { type: string, format: uuid }
        stageOrdinal: { type: integer }
        stageLabel: { type: string, examples: ['Verified By (Workshop Team Leader)'] }
        action:
          type: string
          enum: [SUBMITTED, VERIFIED, RETURNED, RECALLED, VOIDED]
        actorId: { type: string, format: uuid }
        actorName: { type: string, description: 'Not currently populated — see schema-level note.' }
        actorRoleCode: { type: string }
        onBehalfOfName: { type: [string, 'null'], description: Set when acting under delegation }
        reason: { type: [string, 'null'] }
        actedAt: { type: string, format: date-time }
        signingKeyId: { type: string }

    VerifyJobRequest:
      type: object
      # NOTE (slice 7 code review, finding C): `drawnSignature` is REQUIRED
      # here, matching what the server actually enforces — the Zod schema
      # every request is validated against (shared/src/job.ts
      # verifyJobRequestSchema, ADR-002: same rule client and server share)
      # rejects an empty/absent value with 422. It was previously left OUT
      # of `required` purely to dodge an oasdiff "new required request
      # property" breaking-change flag against `origin/main`'s pre-slice-7
      # stub (whose body was documented as `{ comment }`, fully optional).
      # A mandatory electronic-signature field documented as optional is a
      # real client-facing defect (codegen would omit it), so it's corrected
      # here. The oasdiff gate's baseline has been updated
      # (scripts/ci/oasdiff-ignore.yaml) to record this as an intentional,
      # reviewed correction rather than silencing/weakening the gate — see
      # slice-7-report.md, Fix C.
      required: [drawnSignature]
      properties:
        drawnSignature:
          type: string
          description: |
            Base64 PNG data-URL (`data:image/png;base64,...`, or bare
            base64) captured by the on-system signature pad (the pad UI is
            slice 11; this field is the backend contract it POSTs to).
            422 (`/errors/attachment-rejected`) if empty/absent or not a
            valid PNG (magic-byte check). Magic-byte validated server-side
            (S-30-style); stored ENCRYPTED on `approval_step`
            (field-encryption, PR-106 approach).
          examples: ['data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...']
        onBehalfOf:
          type: [string, 'null']
          format: uuid
          description: |
            The delegator's user id, when acting under an active delegation
            (PR-076). Omit when acting on the caller's own authority.
        comment:
          type: [string, 'null']

    QueueEntry:
      allOf:
        - $ref: '#/components/schemas/JobSummary'
        - type: object
          properties:
            submittedAt: { type: string, format: date-time }
            submittedByName: { type: string }
            ageHours: { type: number }
            escalated: { type: boolean }
            onBehalfOf: { type: [string, 'null'] }

    RecordSummary:
      type: object
      required: [id, jobNumber, assetCode, archivedAt]
      properties:
        id: { type: string, format: uuid }
        jobNumber: { type: string }
        assetCode: { type: string }
        documentNumber: { type: string }
        revisionCode: { type: string }
        frequency: { $ref: '#/components/schemas/Frequency' }
        performedByName: { type: string }
        verifiedByName: { type: string }
        archivedAt: { type: string, format: date-time }

    SyncBootstrap:
      type: object
      required: [serverTime, user, jobs, syncToken]
      properties:
        serverTime:
          type: string
          format: date-time
          description: Returned so the client can compute and flag clock skew
        user: { $ref: '#/components/schemas/CurrentUser' }
        jobs:
          type: array
          items: { $ref: '#/components/schemas/Job' }
        deletedJobIds:
          type: array
          items: { type: string, format: uuid }
        syncToken: { type: string }

    OutboxMutation:
      type: object
      required: [id, sequence, method, path]
      properties:
        id: { type: string, format: uuid, description: Doubles as the idempotency key }
        sequence: { type: integer }
        clientRecordedAt: { type: string, format: date-time }
        method: { type: string, enum: [PUT, POST, DELETE] }
        path: { type: string }
        ifMatch: { type: [integer, 'null'] }
        body: { type: [object, 'null'], additionalProperties: true }

    OutboxResult:
      type: object
      required: [id, status, applied]
      properties:
        id: { type: string, format: uuid }
        status: { type: integer }
        applied: { type: boolean }
        problem: { $ref: '#/components/schemas/Problem' }

    IntegrityResult:
      type: object
      required: [recordId, intact, checkedAt]
      properties:
        recordId: { type: string, format: uuid }
        intact: { type: boolean }
        checkedAt: { type: string, format: date-time }
        signatures:
          type: array
          items:
            type: object
            properties:
              approvalStepId: { type: string, format: uuid }
              signerName: { type: string }
              actedAt: { type: string, format: date-time }
              signingKeyId: { type: string }
              hashMatches: { type: boolean }
              signatureValid: { type: boolean }
        mismatchDetail: { type: [string, 'null'] }

    AuditChainStatus:
      type: object
      required: [intact, checkedAt, eventCount]
      properties:
        intact: { type: boolean }
        checkedAt: { type: string, format: date-time }
        eventCount: { type: integer }
        firstBreakSequence:
          type: [integer, 'null']
          description: Set only when `intact` is false - the first sequence number whose hash link failed to verify.
      # `firstBreakSequence` omitted here (not set to a literal `null`) —
      # a literal-`null` example value on a `type: [integer, 'null']`
      # property crashes spectral-cli 6.16.2's example-validation codegen
      # (nimma) with "Cannot read properties of null (reading 'enum')";
      # reproduced in isolation with a two-line minimal schema. The field is
      # still fully documented above (type + semantics); this only affects
      # which value the illustrative example shows.
      example: { intact: true, checkedAt: '2026-07-24T02:00:00Z', eventCount: 418322 }

    MeasurementTrend:
      type: object
      required: [assetCode, stableKey, points]
      properties:
        assetCode: { type: string }
        stableKey: { type: string }
        description: { type: string }
        unit: { type: [string, 'null'] }
        lowerLimit: { type: [number, 'null'] }
        upperLimit: { type: [number, 'null'] }
        points:
          type: array
          items:
            type: object
            properties:
              recordId: { type: string, format: uuid }
              performedOn: { type: string, format: date }
              revisionCode: { type: string }
              reading: { type: [number, 'null'] }
              judgement: { $ref: '#/components/schemas/Judgement' }
