openapi: 3.1.0

info:
  title: BamForm API
  version: 1.0.0
  summary: Preventive maintenance record and approval system
  description: |
    Machine-readable contract for BamForm. This document is authoritative;
    BAMFORM-API-001 explains it. Divergence between this specification and the
    running implementation fails the CI build.

    Conventions, error catalogue, permission matrix and the offline sync
    protocol are described in BAMFORM-API-001.
  contact:
    name: BamForm project
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary

servers:
  - url: https://form.bevorasg.com/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: Health
  - name: Auth
  - name: Areas
  - name: Asset Types
  - name: Assets
  - name: Templates
  - name: Jobs
  - name: Approval
  - name: Delegations
  - name: Sync
  - name: Archive
  - name: Reports
  - name: Audit
  - name: Admin

security:
  - bearerAuth: []

paths:

  /health:
    get:
      tags: [Health]
      operationId: getHealth
      summary: Liveness probe
      description: No dependency round-trip - confirms only that the process is up.
      security: []
      responses:
        '200':
          description: Service is live
          content:
            application/json:
              schema:
                type: object
                required: [status, version]
                properties:
                  status: { type: string, const: ok }
                  version: { type: string }
                  commit: { type: string }
              example: { status: ok, version: 1.0.0, commit: a1b2c3d }

  /health/ready:
    get:
      tags: [Health]
      operationId: getReadiness
      summary: Readiness probe - checks Postgres, Redis and MinIO
      description: Distinct from `/healthz` (liveness) - fails if any dependency is unreachable.
      security: []
      responses:
        '200':
          description: All dependencies reachable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, const: ready }
                  checks:
                    type: object
                    additionalProperties: { type: string }
              example: { status: ready, checks: { postgres: ok, redis: ok, minio: ok } }
        '503':
          $ref: '#/components/responses/Problem'

  /healthz:
    get:
      tags: [Health]
      operationId: getHealthz
      summary: Liveness probe (slice 1 implementation)
      description: |
        The actual liveness probe implemented so far — no dependency
        round-trip (health.controller.ts). Distinct from `/health` above,
        which documents the eventual richer liveness response (version +
        commit) that slice 8's `dist/healthcheck.js` build-out is expected
        to serve; `/health/ready` (Postgres/Redis/MinIO checks) is likewise
        not yet implemented. Tracked in
        `api/test/contract/known-gaps.ts#FUTURE_OPENAPI_PATHS`.
      security: []
      responses:
        '200':
          description: Service is live
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { type: string, const: ok }
              example: { status: ok }

  /.well-known/jwks.json:
    get:
      tags: [Auth]
      operationId: getJwks
      summary: Published Ed25519 verification keys
      description: PR-087 - clients use `kid` to select the correct verification key.
      security: []
      responses:
        '200':
          description: JSON Web Key Set
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items: { type: object, additionalProperties: true }
              example: { keys: [ { kty: OKP, crv: Ed25519, kid: bf-2026-07, x: "11qYAY…" } ] }

  /auth/login:
    post:
      tags: [Auth]
      operationId: login
      summary: Authenticate and receive an access token
      description: |
        Rate-limited (10/min per IP); account lockout after 5 failures.

        Returns `AuthResult` — access token in the body, refresh token in the
        `bf_refresh` cookie — in every case EXCEPT one: when `MFA_ENABLED` is
        true AND the account holds a role in `MFA_REQUIRED_ROLES`
        (`ADMIN`, `TEAM_LEADER`, `ENGINEER`, `DOC_CONTROLLER`, `AUDITOR` by
        default; `MAINTAINER` is exempt - SEC RS-3/SO-3). In that case the
        password was accepted but the login is not finished: the response is
        an `MfaChallenge` with NO access token and NO refresh cookie, and the
        client must call `/auth/mfa/verify` (or `/auth/mfa/recovery`, or
        `/auth/mfa/enrol` + `/auth/mfa/enrol/confirm` when `mfaEnrolled` is
        false) to complete it.

        `MFA_ENABLED` defaults to **false**, in which case this endpoint
        behaves exactly as it did before slice 13-MFA.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password, minLength: 12 }
            example: { email: tech@bevorasg.com, password: "••••••••••••" }
      responses:
        '200':
          description: |
            Authenticated (refresh token set as an HttpOnly cookie), or an MFA
            challenge issued (no cookie set - see the endpoint description).
          headers:
            Set-Cookie:
              description: bf_refresh - HttpOnly, Secure, SameSite=Strict. Absent on an MfaChallenge response.
              schema: { type: string }
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AuthResult'
                  - $ref: '#/components/schemas/MfaChallenge'
        '401': { $ref: '#/components/responses/Problem' }
        '429': { $ref: '#/components/responses/Problem' }

  /auth/password:
    post:
      tags: [Auth]
      operationId: changeOwnPassword
      summary: Change your own password
      description: |
        Own account only - the subject comes from the access token, never the
        body. Argon2id, minimum 12 characters, same policy as `/auth/login`
        and `POST /users`. On success `password_changed_at` is stamped,
        `must_change_password` is cleared, and every OTHER refresh-token
        family for the user is revoked (the caller's own session survives).
        Audited as `password_changed`. Rate-limited 10/min per user.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PasswordChangeRequest' }
      responses:
        '204': { description: Password changed }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }
        '429': { $ref: '#/components/responses/Problem' }

  /auth/mfa/enrol:
    post:
      tags: [Auth]
      operationId: enrolMfa
      summary: Begin TOTP enrolment - issue a shared secret
      description: |
        Generates a 160-bit TOTP secret, stores it field-encrypted, and
        returns it in base32 plus `otpauth://` URI form. `mfa_enrolled` stays
        false until `/auth/mfa/enrol/confirm` succeeds; calling this endpoint
        again before confirmation REPLACES the pending secret.

        Authorised by EITHER a normal `Authorization: Bearer` access token (a
        signed-in user enrolling voluntarily) OR the `challengeToken` from a
        `/auth/login` MFA challenge (a user who must enrol before they can
        finish logging in). It is never anonymous.

        Returns 409 if the account is already enrolled - the only way out of
        an enrolled state is `POST /users/{userId}/mfa-reset`.

        The QR image is rendered client-side; the API has no QR dependency.

        Rate-limited 10/min per user, and refused with 429 while the account
        is locked out - the same treatment as its three siblings.
      security:
        - bearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MfaEnrolRequest' }
      responses:
        '200':
          description: Pending secret issued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MfaEnrolResponse' }
        '401': { $ref: '#/components/responses/Problem' }
        '409':
          description: Already enrolled
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }
        '429': { $ref: '#/components/responses/Problem' }

  /auth/mfa/enrol/confirm:
    post:
      tags: [Auth]
      operationId: confirmMfaEnrolment
      summary: Confirm TOTP enrolment and receive the recovery codes
      description: |
        Verifies a code against the pending secret, sets `mfa_enrolled`, and
        returns the ten single-use recovery codes. **They are returned exactly
        once and are never retrievable again.**

        If this call was authorised by a `challengeToken` (i.e. it happened
        during a login challenge) it also completes the login: `auth` carries
        the `AuthResult` and the refresh cookie is set. For a voluntary
        enrolment by an already-signed-in user, `auth` is null.

        Failures count toward the same account-lockout counter a wrong
        password does. Rate-limited 10/min per user.

        NEVER ANONYMOUS. The empty `{}` security requirement below does not
        mean "no credential" - it means the credential is the `challengeToken`
        body field, which OpenAPI 3.1 cannot express as a security scheme. An
        unauthenticated caller gets 401.
      security:
        - bearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MfaEnrolConfirmRequest' }
      responses:
        '200':
          description: Enrolled. Recovery codes returned once.
          headers:
            Set-Cookie:
              description: bf_refresh - set only when this call completed a login challenge.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MfaEnrolConfirmResponse' }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }
        '429': { $ref: '#/components/responses/Problem' }

  /auth/mfa/verify:
    post:
      tags: [Auth]
      operationId: verifyMfa
      summary: Complete login with a TOTP code
      description: |
        Second step of login. Consumes the `challengeToken` from
        `/auth/login`; on success issues the access token and refresh cookie
        exactly as a password-only login would.

        RFC 6238: 6 digits, 30 s period, plus/minus one step of clock skew.
        An accepted code's time step is recorded, so the same code cannot be
        replayed inside its own 30-second window. A wrong code returns the
        same opaque 401 as a wrong/expired challenge token, and counts toward
        the account-lockout counter. Rate-limited 10/min per user.

        The challenge token is SINGLE-USE: the first request to redeem it wins
        and every other one - including a simultaneous one - gets 401.

        NEVER ANONYMOUS. The empty `{}` security requirement below does not
        mean "no credential" - it means the credential is the `challengeToken`
        body field, which OpenAPI 3.1 cannot express as a security scheme. An
        unauthenticated caller gets 401.
      security:
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MfaVerifyRequest' }
      responses:
        '200':
          description: Authenticated. Refresh token is set as an HttpOnly cookie.
          headers:
            Set-Cookie:
              description: bf_refresh - HttpOnly, Secure, SameSite=Strict
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResult' }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }
        '429': { $ref: '#/components/responses/Problem' }

  /auth/mfa/recovery:
    post:
      tags: [Auth]
      operationId: redeemMfaRecoveryCode
      summary: Complete login with a single-use recovery code
      description: |
        Redeems one of the ten codes issued at enrolment. The code is marked
        used and can never be redeemed again (it is never deleted - INV-07).
        Audited as `mfa_recovery_code_used`. Failures count toward the
        account-lockout counter. Rate-limited 5/min per user. The
        `challengeToken` is single-use, as on `/auth/mfa/verify`.

        NEVER ANONYMOUS. The empty `{}` security requirement below does not
        mean "no credential" - it means the credential is the `challengeToken`
        body field, which OpenAPI 3.1 cannot express as a security scheme. An
        unauthenticated caller gets 401.
      security:
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MfaRecoveryRequest' }
      responses:
        '200':
          description: Authenticated. Refresh token is set as an HttpOnly cookie.
          headers:
            Set-Cookie:
              description: bf_refresh - HttpOnly, Secure, SameSite=Strict
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResult' }
        '401': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }
        '429': { $ref: '#/components/responses/Problem' }

  /auth/refresh:
    post:
      tags: [Auth]
      operationId: refreshToken
      summary: Rotate the refresh token and issue a new access token
      description: |
        Single-use with rotation. Presenting a spent token revokes the entire
        token family and raises a security audit event.
      security: []
      responses:
        '200':
          description: New token pair issued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResult' }
        '401': { $ref: '#/components/responses/Problem' }

  /auth/logout:
    post:
      tags: [Auth]
      operationId: logout
      summary: Revoke the refresh family and deny-list the current access token
      description: Adds the current access token's `jti` to the Redis denylist for the remainder of its natural lifetime (PR-088).
      responses:
        '204': { description: Logged out }
        '401': { $ref: '#/components/responses/Problem' }

  /auth/step-up:
    post:
      tags: [Auth]
      operationId: stepUp
      summary: Re-authenticate immediately before signing
      description: PR-API-07 - refreshes `last_authenticated_at` so a subsequent signing action (approve/verify) passes its step-up check.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, format: password }
      responses:
        '200':
          description: Step-up window refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  stepUpValidUntil: { type: string, format: date-time }
              example: { stepUpValidUntil: '2026-07-24T02:30:00Z' }
        '401': { $ref: '#/components/responses/Problem' }
        '429': { $ref: '#/components/responses/Problem' }

  /auth/me:
    get:
      tags: [Auth]
      operationId: getCurrentUser
      summary: Current user, roles, area scope and active delegations
      description: Re-reads area scope and delegations fresh from the database - the access token carries neither claim.
      responses:
        '200':
          description: Current principal
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CurrentUser' }
        '401': { $ref: '#/components/responses/Problem' }

  /areas:
    get:
      tags: [Areas]
      operationId: listAreas
      summary: List areas
      description: DBD §6.1 - the scope source for PR-API-10; areas are not themselves area-scoped.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated areas
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Area' }
        '401': { $ref: '#/components/responses/Problem' }
    post:
      tags: [Areas]
      operationId: createArea
      summary: Create an area
      description: ADMIN only - organisational/master data.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AreaCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Area' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Duplicate area code
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /areas/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Areas]
      operationId: getArea
      summary: Get an area
      description: Not itself area-scoped (an area cannot be scoped to itself).
      responses:
        '200':
          description: Area
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Area' }
        '404': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [Areas]
      operationId: updateArea
      summary: Update an area. Deactivation only, never deletion.
      description: ADMIN only.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AreaUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Area' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /asset-types:
    get:
      tags: [Asset Types]
      operationId: listAssetTypes
      summary: List asset types
      description: Global reference data - not area-scoped.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated asset types
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/AssetType' }
        '401': { $ref: '#/components/responses/Problem' }
    post:
      tags: [Asset Types]
      operationId: createAssetType
      summary: Create an asset type
      description: ENGINEER or ADMIN. Exactly one form_template per asset type (1:1).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetTypeCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetType' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Duplicate asset-type code, or the form_template already governs another asset type
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /asset-types/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Asset Types]
      operationId: getAssetType
      summary: Get an asset type
      description: DBD §6.7 - one form_template per asset type (1:1).
      responses:
        '200':
          description: Asset type
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetType' }
        '404': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [Asset Types]
      operationId: updateAssetType
      summary: Update an asset type. Deactivation only, never deletion.
      description: ENGINEER or ADMIN.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetTypeUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetType' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /assets:
    get:
      tags: [Assets]
      operationId: listAssets
      summary: List assets
      description: Filtered to the caller's area scope (PR-API-10) when they have one.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: assetTypeId
          in: query
          schema: { type: string, format: uuid }
        - name: areaId
          in: query
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/AssetStatus' }
      responses:
        '200':
          description: Paginated assets
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Asset' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
    post:
      tags: [Assets]
      operationId: createAsset
      summary: Create an asset
      description: ENGINEER or ADMIN. Rejects a duplicate `code` (INV-06).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '409':
          description: Duplicate asset code
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /assets/{assetId}:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    get:
      tags: [Assets]
      operationId: getAsset
      summary: Get an asset
      description: 403 (`/errors/out-of-scope`), not a silent 404, when the asset exists but is outside the caller's area scope.
      responses:
        '200':
          description: Asset
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '404': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [Assets]
      operationId: updateAsset
      summary: Update an asset. Deactivation only, never deletion.
      description: ENGINEER or ADMIN. `status`/`active` are the only removal mechanism (deactivation).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '404': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /assets/{assetId}/history:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    get:
      tags: [Assets]
      operationId: getAssetHistory
      summary: Complete maintenance history for one asset
      description: UR-007. Real and area-scoping-correct today; returns an empty page until scheduling/result-capture (slice 5/6) generates jobs.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated record history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/RecordSummary' }
        '404': { $ref: '#/components/responses/Problem' }

  /assets/{assetId}/schedule:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    get:
      tags: [Assets]
      operationId: getAssetSchedule
      summary: Current schedule_rule state for one asset (one entry per frequency)
      description: |
        UR-023. 403 (`/errors/out-of-scope`), not a silent 404, when the asset
        exists but is outside the caller's area scope. A row exists for every
        frequency with at least one active template item in the asset's
        template's current revision (PR-053) — created lazily on first read
        if the asset was onboarded after its template revision went current.
      responses:
        '200':
          description: Schedule rules, one per scheduled frequency
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ScheduleRule' }
        '404': { $ref: '#/components/responses/Problem' }
    put:
      tags: [Assets]
      operationId: adjustAssetSchedule
      summary: Manually adjust one frequency's next due date
      description: |
        TEAM_LEADER, ENGINEER or ADMIN (permission matrix §4.1 "Adjust
        schedules"). PR-058/UR-025: `adjustedReason` is mandatory (minimum 10
        characters) and is recorded to the audit trail.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScheduleAdjust' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScheduleRule' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /approval-routes:
    get:
      tags: [Asset Types]
      operationId: listApprovalRoutes
      summary: List approval routes
      description: |
        Slice 13-TL. Read-only, seeded reference data (PR-DBD-09) - resolves
        the approvalRouteId that POST /asset-types requires. Routes are
        never created via the API.
      responses:
        '200':
          description: Active approval routes
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ApprovalRoute' }
        '401': { $ref: '#/components/responses/Problem' }

  /templates:
    get:
      tags: [Templates]
      operationId: listTemplates
      summary: List form templates
      description: |
        Read-only - the twelve source templates are loaded by BAMFORM-TLP-001's
        separate tooling (PR-DBD-10), not through this API.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated templates
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/FormTemplate' }
        '401': { $ref: '#/components/responses/Problem' }
    post:
      tags: [Templates]
      operationId: createTemplate
      summary: Create a form template shell (BAMFORM-TLP-001 template load)
      description: |
        ENGINEER or DOC_CONTROLLER. Slice 13-TL - exists solely for the
        TLP-001 load tooling (PR-TLP-07: the load is an authenticated,
        audited operation through the real API, never a DB migration).
        Content (items, measurements, standing content) still arrives only
        through the revision-authoring endpoints below.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTemplateRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FormTemplate' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Document number already exists (INV-07)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /templates/{templateId}:
    parameters:
      - name: templateId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Templates]
      operationId: getTemplate
      summary: Get a form template. Includes the current revision summary.
      description: Read-only - see `listTemplates`.
      responses:
        '200':
          description: Form template
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FormTemplate' }
        '404': { $ref: '#/components/responses/Problem' }

  /templates/{templateId}/revisions:
    parameters:
      - name: templateId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Templates]
      operationId: listRevisions
      summary: Full revision history for a template
      description: UR-011. Newest first (by `sequenceOrdinal` descending).
      responses:
        '200':
          description: Revisions, newest first
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TemplateRevision' }
        '404': { $ref: '#/components/responses/Problem' }
    post:
      tags: [Templates]
      operationId: createRevision
      summary: Create a draft revision. Sequence is assigned server-side.
      description: ENGINEER or DOC_CONTROLLER. Copies forward the current revision's items/measurements/standing content (PR-028).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [revisionCode, changeDescription]
              properties:
                revisionCode: { type: string, examples: [F] }
                changeDescription: { type: string, minLength: 5 }
      responses:
        '201':
          description: Draft created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '422':
          description: Would create a gap in the revision sequence
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /revisions/{revisionId}:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    get:
      tags: [Templates]
      operationId: getRevision
      summary: Get a template revision
      description: Includes the full items/measurements/standing content for this specific revision (frozen once approved).
      responses:
        '200':
          description: Revision
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '404': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [Templates]
      operationId: patchRevision
      summary: Edit draft metadata (revision code, change description, standing content)
      description: Only while the revision is DRAFT (ENGINEER or DOC_CONTROLLER).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                revisionCode: { type: string }
                changeDescription: { type: string, minLength: 5 }
                standingContent: { $ref: '#/components/schemas/StandingContent' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Revision is not DRAFT
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /revisions/{revisionId}/items:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    put:
      tags: [Templates]
      operationId: replaceRevisionItems
      summary: Replace the checklist items on a draft revision
      description: |
        Documented as "replace wholesale" - implemented as an upsert by
        `stableKey` (existing rows updated in place, a dropped stableKey is
        soft-removed via `active=false`, not deleted: `bamform_app` holds no
        DELETE grant on any table, INV-16). The response never includes
        `active` - it is server-internal and always true for any row
        returned (every read path filters `active=true`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/TemplateItemInput' }
      responses:
        '200':
          description: Replaced
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TemplateItem' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Revision not in draft
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /revisions/{revisionId}/measurements:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    put:
      tags: [Templates]
      operationId: replaceRevisionMeasurements
      summary: Replace the measurement definitions on a draft revision
      description: |
        Documented as "replace wholesale" - implemented as an upsert by
        `stableKey` (same mechanism as `PUT .../items`, see that operation's
        description) for the same INV-16 (no DELETE grant) reason.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/TemplateMeasurement' }
      responses:
        '200':
          description: Replaced
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TemplateMeasurement' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Revision not in draft
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          description: Specification limits inverted (lowerLimit > upperLimit, INV-04)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /revisions/{revisionId}/submit:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    post:
      tags: [Templates]
      operationId: submitRevision
      summary: Submit a draft revision for approval. DRAFT -> PENDING_APPROVAL.
      description: ENGINEER or DOC_CONTROLLER.
      responses:
        '200':
          description: Submitted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Revision is not DRAFT
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /revisions/{revisionId}/approve:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    post:
      tags: [Templates]
      operationId: approveRevision
      summary: Approve and issue a revision. Requires step-up authentication.
      description: |
        PENDING_APPROVAL -> CURRENT. DOC_CONTROLLER. `errors/self-approval`
        (**409**, not 403 - correcting a prior documentation defect: the
        actor being the revision's own author is a conflict with the
        resource's state (INV-03), not an authorization failure) is raised
        when the approver authored the revision (PR-047).
      responses:
        '200':
          description: Revision is now current; the previous revision is superseded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '401': { $ref: '#/components/responses/Problem' }
        '403':
          description: Step-up required (`/errors/step-up-required`, PR-API-07)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409':
          description: |
            `/errors/self-approval` - actor authored this revision (INV-03,
            PR-047), or `/errors/invalid-transition` - revision is not
            PENDING_APPROVAL
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /revisions/{revisionId}/reject:
    parameters:
      - $ref: '#/components/parameters/RevisionId'
    post:
      tags: [Templates]
      operationId: rejectRevision
      summary: Reject a pending revision. PENDING_APPROVAL -> REJECTED.
      description: DOC_CONTROLLER. Requires a reason.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 10 }
      responses:
        '200':
          description: Rejected
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRevision' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Revision is not PENDING_APPROVAL
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs:
    get:
      tags: [Jobs]
      operationId: listJobs
      summary: List jobs
      description: |
        Area-scoped (PR-API-10). A MAINTAINER sees only jobs assigned to
        them; TEAM_LEADER/ENGINEER/DOC_CONTROLLER/ADMIN/AUDITOR see every
        job in their area scope (API_SPECIFICATION.md §4.1). `overdue` is
        derived at read time (PR-043), never stored.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/JobStatus' }
        - name: assignedTo
          in: query
          schema: { type: string, format: uuid }
        - name: assetId
          in: query
          schema: { type: string, format: uuid }
        - name: overdue
          in: query
          schema: { type: boolean }
        - name: dueFrom
          in: query
          schema: { type: string, format: date }
        - name: dueTo
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Paginated jobs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/JobSummary' }
        '401': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}:
    parameters:
      - $ref: '#/components/parameters/JobId'
    get:
      tags: [Jobs]
      operationId: getJob
      summary: Full job including the frozen template revision content
      description: |
        `templateRevision.items`/`.measurements` are the ACTIVE rows only
        (DP-3/PR-049 — the revision bound at generation, frozen). 403
        `out-of-scope` if the job's asset is outside the caller's area scope;
        403 `forbidden` if a MAINTAINER requests a job not assigned to them.
      responses:
        '200':
          description: Job
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/assign:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Jobs]
      operationId: assignJob
      summary: Assign or reassign a job to a technician
      description: |
        UR-029 (slice 15-SYSWIRE). TEAM_LEADER/ENGINEER/ADMIN. First
        assignment moves `SCHEDULED` -> `ASSIGNED` (PRD §5.1); reassignment
        of an `ASSIGNED` or `IN_PROGRESS` job replaces the assignee and does
        NOT change status (previously recorded results keep their original
        recorded-by attribution — the recovery path for a job whose assignee
        was deactivated). Not legal from SUBMITTED/ARCHIVED/VOIDED. The
        assignee must be an active user holding a result-recording role
        (MAINTAINER/TEAM_LEADER/ENGINEER, §4.1) whose area scope can reach
        the job. Audited in the same transaction; enqueues the UR-061
        JOB_ASSIGNED notification to the (new) assignee.
        `Idempotency-Key` is honoured when supplied but not required.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssignJobRequest' }
      responses:
        '200':
          description: Assigned (or reassigned)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '403':
          description: |
            `/errors/out-of-scope` - the job's asset is outside the CALLER's
            area scope
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '409':
          description: '`/errors/invalid-transition` - job is SUBMITTED/ARCHIVED/VOIDED, or changed state concurrently'
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          description: '`/errors/validation-failed` - assignee unknown, inactive, holds no result-recording role, or cannot reach the job''s area'
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /jobs/{jobId}/items/{templateItemId}:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - name: templateItemId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/IfMatch'
    put:
      tags: [Jobs]
      operationId: recordItemResult
      summary: Record or update a checklist item result
      description: |
        `Idempotency-Key` is REQUIRED (reachable from the offline outbox,
        PR-API-16). Upserts by `(jobId, templateItemId)`. Transitions the job
        ASSIGNED -> IN_PROGRESS on the first result (PRD §5.1). `If-Match` is
        checked against `draftVersion` when supplied.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ItemResultInput' }
      responses:
        '200':
          description: Recorded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ItemResult' }
        '409':
          description: Draft version conflict, or the record is archived
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/measurements/{templateMeasurementId}:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - name: templateMeasurementId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/IfMatch'
    put:
      tags: [Jobs]
      operationId: recordMeasurementResult
      summary: Record or update a measurement reading
      description: |
        `judgement` is computed server-side from the frozen
        `template_measurement`'s specification (PR-032) — the request never
        supplies it. `Idempotency-Key` is REQUIRED (PR-API-16).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MeasurementResultInput' }
      responses:
        '200':
          description: Recorded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MeasurementResult' }
        '409': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs/adhoc:
    post:
      tags: [Jobs]
      operationId: createAdhocJob
      summary: Raise a job against an asset outside the maintenance plan
      description: |
        UR-028/PR-058. Roles: PLANNER, TEAM_LEADER, ENGINEER, ADMIN.
        Area-scoped (PR-API-10) - a caller with `user_area_scope` rows may
        only raise work on assets inside them.

        The asset type's CURRENT template revision is FROZEN onto the job
        exactly as a scheduler-generated job's is (DP-3/PR-049), the same
        `PM-{year}-{sequence}` number is drawn, and the asset type's approval
        route is attached - so an ad-hoc job travels the identical
        record/verify/archive path.

        It does NOT touch the plan. An ad-hoc job is created with an EMPTY
        `frequencyScope`, which is what makes it structurally incapable of
        advancing `schedule_rule.next_due_on` on completion or of being
        credited as a prior completion when a planned job is voided; and it is
        excluded from the schedule-period uniqueness key, so it neither
        blocks generation of the planned PM for that period nor collides with
        a second call-out on the same machine the same day.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAdhocJobRequest' }
      responses:
        '201':
          description: Raised
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '403':
          description: '`/errors/forbidden` - role not permitted; `/errors/out-of-scope` - the asset is outside the caller''s areas'
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '422':
          description: |
            `/errors/validation-failed` - the asset is inactive, its form
            template has no CURRENT revision, or the assignee cannot work the
            job; or the mandatory `reason` is shorter than 10 characters.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /jobs/{jobId}/attachments:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Jobs]
      operationId: uploadAttachment
      summary: Upload a photograph. Validated by magic bytes, not extension.
      description: |
        Streamed through the api to MinIO (PR-011/ADR-007 — never presigned).
        Content is sniffed by magic bytes, never trusted from the declared
        MIME type or filename extension (S-30). Size-capped
        (`ATTACHMENT_MAX_BYTES`, S-32) and per-job-capped
        (`ATTACHMENT_MAX_PER_JOB`). `Idempotency-Key` is REQUIRED.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                itemResultId: { type: string, format: uuid }
      responses:
        '201':
          description: Stored
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Attachment' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/attachments/{attachmentId}:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - name: attachmentId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Jobs]
      operationId: getAttachment
      summary: Fetch a stored attachment
      description: |
        Streamed through the api, NEVER a presigned URL (PR-011/ADR-007).
        Authorisation is evaluated on EVERY fetch, not only at upload time
        (UR-074, UR-099) — an unauthorised caller gets 403 and the object is
        never read off MinIO (S-19/I-INV-19).
      responses:
        '200':
          description: The stored image bytes
          content:
            image/jpeg: { schema: { type: string, format: binary } }
            image/png: { schema: { type: string, format: binary } }
            image/webp: { schema: { type: string, format: binary } }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/parts:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Jobs]
      operationId: recordPart
      summary: Record a part consumed on this job
      description: |
        UR-034/PR-033. No `DELETE` counterpart — BUILD_HANDOFF non-negotiable
        #7 (`bamform_app` holds no `DELETE` grant on any table, DBD §7.1);
        this supersedes API_SPECIFICATION.md §10.5's documented
        `DELETE /jobs/{id}/parts/{partId}` (see slice-6-report.md).
        `Idempotency-Key` is honoured when supplied but not required.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PartUsedInput' }
      responses:
        '201':
          description: Recorded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PartUsed' }
        '409': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/submit:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Jobs]
      operationId: submitJob
      summary: Submit a completed record for verification, signed by the performer
      description: |
        Atomic. Rejected if any mandatory item has no result. Never sent as part
        of an outbox batch - all preceding mutations for the job must be
        acknowledged first.

        Slice 18-WORKFLOW: carries the PERFORMER'S DRAWN SIGNATURE
        (`drawnSignature`, REQUIRED). The plant's process is "completed work -
        team member will sign and submit to team lead for checks"; the paper
        forms carry three signatures and the system previously captured two.
        Produces a stage-0 `approval_step` with `action = SUBMITTED` carrying
        the encrypted drawn signature PLUS a content-bound Ed25519 signature
        over the canonical record (ADR-010, the same mechanism
        `POST /jobs/{jobId}/verify` uses), so the assertion "I did this work"
        commits to the record that was submitted and is verified by
        `GET /records/{recordId}/integrity`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubmitJobRequest' }
      responses:
        '200':
          description: Submitted and routed to the verification queue
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '409':
          description: Job is not IN_PROGRESS (PRD §5.1) - invalid-transition
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          description: Mandatory items outstanding - the list is returned
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /jobs/{jobId}/verify:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Approval]
      operationId: verifyJob
      summary: Verify a record. Requires step-up. Archives on the final stage.
      description: |
        Two-stage route (ADR-011, delivered configuration: stage 1
        TEAM_LEADER, stage 2 ENGINEER — Samuel's confirmed decision). Advances
        `currentStageOrdinal` on a non-final stage; on the LAST stage,
        `SUBMITTED` -> `ARCHIVED` in the SAME transaction (PR-042/INV-13) — the
        job never rests `VERIFIED`. Produces an `approval_step` with the
        drawn signature (encrypted) PLUS a content-bound Ed25519 signature
        over the canonical record (ADR-010, PR-093/094). `onBehalfOf` (PR-076)
        names the delegator when acting under an active delegation; an
        expired/absent delegation is rejected `403`. Self-approval
        (`actor == job.submittedBy`) is rejected `409` (INV-05, PR-044,
        enforced in the service AND by a database trigger).
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VerifyJobRequest' }
      responses:
        '200':
          description: Verified (and archived, if this was the final stage)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '403':
          description: |
            `/errors/step-up-required` - re-authentication needed (PR-API-07);
            `/errors/forbidden` - actor does not hold a role eligible for this
            stage, or (S-25) no currently-active delegation permits acting on
            behalf of the named user
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409':
          description: |
            `/errors/self-approval` - actor is the submitter (INV-05, S-22);
            `/errors/invalid-transition` - job is not SUBMITTED, or was
            already advanced by another verifier
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          description: '`/errors/attachment-rejected` - drawnSignature is not a valid PNG (magic-byte check)'
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /jobs/{jobId}/return:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Approval]
      operationId: returnJob
      summary: Return a record to the maintainer for rework
      description: |
        `SUBMITTED` -> `IN_PROGRESS` (PR-074). TEAM_LEADER/ENGINEER. Reason
        required, >= 10 characters (INV-13). All previously entered results
        are preserved; `currentStageOrdinal` resets — a resubmission restarts
        both verification stages, since the content-bound signatures of any
        prior verify no longer describe the (about-to-be-reworked) content.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 10 }
      responses:
        '200':
          description: Returned; all previously entered results are preserved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '409': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/recall:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Approval]
      operationId: recallJob
      summary: Submitter pulls back their own submission before verification
      description: |
        `SUBMITTED` -> `IN_PROGRESS` (PR-075, UR-051). Submitter only, only
        while `SUBMITTED`. No request body.
      responses:
        '200':
          description: Recalled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '403':
          description: '`/errors/forbidden` - only the submitter may recall this record'
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409': { $ref: '#/components/responses/Problem' }

  /jobs/{jobId}/void:
    parameters:
      - $ref: '#/components/parameters/JobId'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      tags: [Approval]
      operationId: voidJob
      summary: Void a job. The record remains visible and queryable.
      description: |
        PR-046/INV-12. Reason required, >= 10 characters. This is NOT a
        delete (non-negotiable #7 - `bamform_app` holds no `DELETE` grant on
        any table); the job stays queryable with `status: VOIDED`.

        Legal from SCHEDULED, ASSIGNED, IN_PROGRESS or SUBMITTED
        (TEAM_LEADER/ENGINEER/ADMIN), and - since the owner's 2026-07-27
        decision (slice 17) - from ARCHIVED, ADMIN-only (403 for any other
        role). A post-archive void is an ANNOTATION, never a mutation: the
        double-signed record content, drawn signatures, Ed25519 signatures,
        content hashes and audit chain are byte-identical before and after
        (DB-enforced); only `voidReason`/`voidedBy`/`voidedAt` and the
        status change. Never legal from VERIFIED or VOIDED.

        A voided job never satisfies its schedule period and never blocks
        regeneration. Voiding an ARCHIVED job also recomputes the asset's
        schedule in the same transaction, as if that completion never
        happened: `next_due_on` re-derives from the most recent still-valid
        completion, or reverts to the voided job's own due date if none
        remains. Already-generated successor jobs are left untouched - the
        recompute affects future generation only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 10 }
      responses:
        '200':
          description: Voided
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '403':
          description: '`/errors/forbidden` - voiding an ARCHIVED record is ADMIN-only'
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /queue:
    get:
      tags: [Approval]
      operationId: getVerificationQueue
      summary: Records awaiting the caller's verification, including delegated queues
      description: |
        PR-073/076/081, UR-049. A record qualifies when it is `SUBMITTED`,
        the caller is not the submitter, the caller holds a role satisfying
        the CURRENT stage, and the record's area is within the caller's
        scope (or they are unrestricted). PR-076: the effective queue also
        includes any active delegator's queue (window contains now,
        resolved fresh on every request — never cached), each such entry's
        `onBehalfOf` set to that delegator's user id. Ordered by job id
        (UUIDv7, time-ordered) ascending. A non-verifier (holds none of any
        stage's roles) simply gets an empty page — not an error.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Queue ordered by age, overdue distinguished
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/QueueEntry' }

  /delegations:
    get:
      tags: [Delegations]
      operationId: listDelegations
      summary: The caller's own delegation grants, plus grants made TO them
      description: PR-038/PR-076/UR-052. No role restriction — every authenticated user may see their own delegations.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Delegations involving the caller, either direction
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Delegation' }
    post:
      tags: [Delegations]
      operationId: createDelegation
      summary: Grant delegated verification authority
      description: |
        PR-038/UR-052. Permission matrix §4.1 "Create delegation":
        TEAM_LEADER, ENGINEER, ADMIN. `createdBy` is always the authenticated
        caller (never accepted from the request body, PR-090). A
        `TEAM_LEADER`/`ENGINEER` may only delegate AWAY THEIR OWN authority
        (`delegatorId` must equal the caller); only `ADMIN` may set up a
        delegation between two other users.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateDelegationRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Delegation' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /delegations/{delegationId}:
    parameters:
      - $ref: '#/components/parameters/DelegationId'
    delete:
      tags: [Delegations]
      operationId: revokeDelegation
      summary: Revoke a delegation early
      description: |
        Sets `revokedAt` — does NOT delete the row (BUILD_HANDOFF
        non-negotiable #7, no hard DELETE). Permitted for ADMIN, the
        delegation's own `delegatorId`, or whoever `createdBy` it.
        Idempotent — revoking an already-revoked delegation returns it
        unchanged rather than erroring.
      responses:
        '200':
          description: Revoked (or already was)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Delegation' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /sync/bootstrap:
    get:
      tags: [Sync]
      operationId: syncBootstrap
      summary: Everything the device needs to work offline
      description: |
        Embeds the complete frozen template revision for each assigned job so the
        device can render the full form with no further network calls.
      parameters:
        - name: since
          in: query
          description: Opaque syncToken or an ISO date-time; jobs/deletedJobIds are restricted to what changed since.
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Bootstrap payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SyncBootstrap' }
        '422': { $ref: '#/components/responses/Problem' }

  /sync/outbox:
    post:
      tags: [Sync]
      operationId: syncOutbox
      summary: Drain a batch of queued offline mutations
      description: |
        Applied in client sequence order, transactionally per job. Per-mutation
        results are returned; one failure does not block the batch. Each
        mutation id doubles as its idempotency key, so replaying a batch is safe.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mutations]
              properties:
                mutations:
                  type: array
                  maxItems: 200
                  items: { $ref: '#/components/schemas/OutboxMutation' }
      responses:
        '200':
          description: Per-mutation results
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/OutboxResult' }
                  syncToken: { type: string }
        '422': { $ref: '#/components/responses/Problem' }
        '429': { $ref: '#/components/responses/Problem' }

  /records:
    get:
      tags: [Archive]
      operationId: listRecords
      summary: Search/filter the archive
      description: |
        UR-058 — search and filter the archive by asset, asset type,
        document number, frequency, date range (`archivedFrom`/`archivedTo`),
        technician (submitter) and approver (a verifying `approval_step`
        actor). An archived record IS a `job` row with `status = ARCHIVED`
        (this system has no separate `record` table) - or, since slice 17, a
        record voided AFTER archive (`status = VOIDED` with its untouched
        `archivedAt` still set): those stay part of the archive by default
        (an auditor must see voids, not lose them), filterable via
        `voided`. Pre-archive voids are not archive records. Area-scoped
        (PR-API-10): a MAINTAINER sees only their own records; TEAM_LEADER/
        ENGINEER/DOC_CONTROLLER/ADMIN/AUDITOR see every archived record in
        area scope (API_SPECIFICATION.md §4.1 "View archive").
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: assetId
          in: query
          schema: { type: string, format: uuid }
        - name: assetTypeId
          in: query
          schema: { type: string, format: uuid }
        - name: documentNumber
          in: query
          schema: { type: string }
        - name: frequency
          in: query
          schema: { $ref: '#/components/schemas/Frequency' }
        - name: archivedFrom
          in: query
          schema: { type: string, format: date }
        - name: archivedTo
          in: query
          schema: { type: string, format: date }
        - name: technician
          in: query
          schema: { type: string, format: uuid }
        - name: approver
          in: query
          schema: { type: string, format: uuid }
        - name: voided
          in: query
          description: Omitted - whole archive INCLUDING voided-archived records; `true` - only voided-archived; `false` - exclude them.
          schema: { type: boolean }
      responses:
        '200':
          description: Paginated archived records
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/JobSummary' }

  /records/{recordId}:
    parameters:
      - name: recordId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Archive]
      operationId: getRecord
      summary: Retrieve one archived record in full
      description: 404 if the job does not exist or is not ARCHIVED; 403 out-of-scope/forbidden per the same area/role rule as `GET /records`.
      responses:
        '200':
          description: Record
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /records/{recordId}/pdf:
    parameters:
      - name: recordId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Archive]
      operationId: getRecordPdf
      summary: Render the record in the controlled paper form layout
      description: |
        PR-116/117/118, UR-056/057. Rendered server-side from an HTML
        template via headless Chromium ON THE WORKER (never blocking `api`);
        the footer carries the record id and its integrity digest (the
        SAME `approval_step.content_hash` `GET /records/{recordId}/integrity`
        checks — never a separately invented value). 409
        `pdf-not-yet-available` if the record has never been through any
        approval action (no digest exists yet to print).
      responses:
        '200':
          description: PDF
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '409': { $ref: '#/components/responses/Problem' }

  /records/{recordId}/integrity:
    parameters:
      - name: recordId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Archive]
      operationId: verifyRecordIntegrity
      summary: Recompute the content hash and verify the signature
      description: |
        Recomputes the canonical serialisation from current data, re-derives the
        digest, compares it to the stored value and verifies the Ed25519
        signature. This is the mechanism behind acceptance criterion AC-11.
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IntegrityResult' }
        '404': { $ref: '#/components/responses/Problem' }

  /records/export:
    post:
      tags: [Archive]
      operationId: requestRecordExport
      summary: Request an asynchronous export of a record set
      description: |
        PR-119/UR-059. Async — returns immediately with `status: PENDING`;
        poll `GET /exports/{exportId}`. The filter (or explicit `recordIds`)
        is resolved to a concrete, scoped record-id snapshot at REQUEST
        TIME, using the caller's own area/role scope — an id outside scope
        is silently excluded, never leaked via a 403/404. `JOB_VIEW_ALL_ROLES`
        only (API_SPECIFICATION.md §4.1 "Export records" — MAINTAINER is
        NOT granted this, unlike "View archive").
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RecordExportRequest' }
      responses:
        '202':
          description: Export accepted, processing asynchronously
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RecordExportStatus' }
        '403': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /exports/{exportId}:
    parameters:
      - name: exportId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Archive]
      operationId: getExportStatus
      summary: Poll an export job's status
      description: Authorised to the REQUESTER only — not re-scoped by the requester's CURRENT area/role (a snapshot taken earlier remains visible to whoever asked for it).
      responses:
        '200':
          description: Export status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RecordExportStatus' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /exports/{exportId}/download:
    parameters:
      - name: exportId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Archive]
      operationId: downloadExport
      summary: Download the finished export ZIP
      description: |
        ADR-007 — streamed through `api`, authorised on EVERY fetch, never
        a presigned URL. A ZIP of the rendered PDFs plus a `manifest.csv`
        (PR-119). 404 if the export is not yet `DONE`.
      responses:
        '200':
          description: ZIP archive
          content:
            application/zip:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /reports/measurements:
    get:
      tags: [Reports]
      operationId: getMeasurementTrend
      summary: Measurement trend series for an asset
      description: |
        Returns readings over time for one measurement identity on one asset,
        joined across template revisions by stable key.
      parameters:
        - name: assetId
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: stableKey
          in: query
          required: true
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Trend series with the specification band
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MeasurementTrend' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /reports/compliance:
    get:
      tags: [Reports]
      operationId: getComplianceReport
      summary: Due vs. completed on time, grouped by area
      description: UR-067. Defaults to the last 90 days ending today when `from`/`to` are omitted.
      parameters:
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - name: areaId
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Compliance report
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ComplianceReport' }
        '403': { $ref: '#/components/responses/Problem' }

  /reports/overdue:
    get:
      tags: [Reports]
      operationId: getOverdueReport
      summary: Currently overdue jobs
      description: UR-068. Reuses the same derived overdue rule as `GET /jobs?overdue=true` (PR-043 — never stored).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated overdue jobs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/JobSummary' }

  /reports/pending:
    get:
      tags: [Reports]
      operationId: getPendingVerificationReport
      summary: Submitted jobs awaiting verification, with ageing
      description: UR-068. Every SUBMITTED job in scope (not only ones the caller personally can verify — contrast with `GET /queue`).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated pending-verification jobs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/PendingVerificationEntry' }

  /audit-events/chain-status:
    get:
      tags: [Audit]
      operationId: getAuditChainStatus
      summary: Verify the hash chain over the audit log
      description: |
        Walks `audit_event` ordered by `sequence`, recomputes each row's hash
        using the exact formula the slice-1 database trigger
        (`compute_audit_event_hash_chain`) applies at insert time, and
        checks `prev_hash` linkage. Runs on demand (recompute), the same
        design as `GET /records/{recordId}/integrity`. `AUDITOR`/`ADMIN`
        only (SECURITY_ARCHITECTURE.md §4.2 P2, PR-097/PR-099).

        CAVEAT — cannot detect tail-truncation: this check detects mutated
        fields, broken hash links, and deletion of a row from the middle or
        head of the chain (the next surviving row's `prev_hash` stops
        matching). It CANNOT detect deletion of the most-recent events — a
        truncated tail leaves the remaining chain fully self-consistent, so
        `intact: true` does not rule that out. The application database role
        is denied `DELETE` on `audit_event`, so this is not exploitable via a
        compromised API (in-scope threat E-8 is already blocked); truncation
        by a database-owner/superuser is only detectable with an external
        (off-box) anchor for the chain head, which is tracked as future work
        and not implemented by this endpoint.
      responses:
        '200':
          description: Chain verification result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuditChainStatus' }
        '403': { $ref: '#/components/responses/Problem' }

  /users:
    get:
      tags: [Admin]
      operationId: listUsers
      summary: List users
      description: ADMIN only (API_SPECIFICATION.md §10.9, UR-072).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: roleCode
          in: query
          schema: { $ref: '#/components/schemas/RoleCode' }
        - name: active
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: Paginated users
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
    post:
      tags: [Admin]
      operationId: createUser
      summary: Create a user
      description: |
        ADMIN only. `fullName`/`email`/`employeeId` are encrypted + blind-
        indexed (PR-106/107/108) — same real crypto path as `/auth/login`.
        `password` is admin-set (this slice's documented minimal mechanism —
        no invite/temp-password email flow exists yet). Rejects a duplicate
        `email` (blind-index uniqueness) with 409.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '409':
          description: Duplicate email
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /users/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Admin]
      operationId: getUser
      summary: Get a user
      description: ADMIN only.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [Admin]
      operationId: updateUser
      summary: Update a user. Deactivation only, never deletion.
      description: |
        ADMIN only (UR-075). `active: false` is the only removal mechanism.
        `roleCodes`, when present, REPLACES the role set (produces a
        `permission_change` audit event, distinct from `update`).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '409':
          description: Duplicate email
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Problem' }

  /users/{userId}/area-scopes:
    parameters:
      - name: userId
        in: path
        required: true
        schema: { type: string, format: uuid }
    put:
      tags: [Admin]
      operationId: setUserAreaScopes
      summary: Set (replace) a user's area scopes
      description: |
        ADMIN only (slice 13-UI-B, SYS-10 — the write path that makes
        PR-API-10's repository-layer scoping reachable). REPLACES the user's
        area-scope set wholesale, the same way `PATCH /users/{userId}`'s
        `roleCodes` replaces roles. `[]` clears every scope (the user
        becomes unrestricted). A dropped scope is soft-removed
        (`user_area_scope.active = false` — INV-16: no DELETE grant), and a
        change produces a `permission_change` audit event in the same
        transaction (INV-09). The payload carries area ids only — never any
        person-field (CR-5/PR-SEC-02).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserAreaScopeSet' }
      responses:
        '200':
          description: Updated user, `areaIds` reflecting the new set
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
        '422':
          description: Unknown areaId, or malformed body
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /users/{userId}/mfa-reset:
    parameters:
      - name: userId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Admin]
      operationId: resetUserMfa
      summary: Reset a user's multi-factor enrolment
      description: |
        ADMIN only. Clears the user's TOTP enrolment and marks every unused
        recovery code used, forcing a fresh enrolment on next login. Audited
        as `mfa_reset` with both actor and subject.

        An administrator can reset but can never READ - no endpoint discloses
        anyone's TOTP secret or recovery codes.
      responses:
        '204': { description: MFA reset }
        '401': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /roles:
    get:
      tags: [Admin]
      operationId: listRoles
      summary: List the role catalogue
      description: UR-073. Any authenticated user — seeded reference data, not ADMIN-restricted.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated roles
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Role' }
        '401': { $ref: '#/components/responses/Problem' }

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Ed25519-signed access token, 15 minute TTL

  parameters:
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    Cursor:
      name: cursor
      in: query
      description: Opaque. Clients must not construct or parse it.
      schema: { type: string }
    AssetId:
      name: assetId
      in: path
      required: true
      schema: { type: string, format: uuid }
    JobId:
      name: jobId
      in: path
      required: true
      schema: { type: string, format: uuid }
    RevisionId:
      name: revisionId
      in: path
      required: true
      schema: { type: string, format: uuid }
    DelegationId:
      name: delegationId
      in: path
      required: true
      schema: { type: string, format: uuid }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: Client-generated UUIDv7. Required on endpoints reachable from the offline outbox.
      schema: { type: string, format: uuid }
    IfMatch:
      name: If-Match
      in: header
      description: The job draftVersion the client based this mutation on.
      schema: { type: string }

  responses:
    Problem:
      description: |
        RFC 9457 Problem Details.

        Note for every AUTHENTICATED operation in this document, whether or
        not it lists a 403: since slice 13-MFA a user whose
        `must_change_password` flag is set receives
        `403 /errors/password-change-required` from ANY endpoint other than
        `GET /auth/me`, `POST /auth/password` and `POST /auth/logout`, until
        they change their password. It is a global deny-by-default guard, not
        a per-endpoint rule, so it is documented once here rather than
        repeated on ~60 operations. Clients should handle that `type`
        globally.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:

    Problem:
      type: object
      required: [type, title, status]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        requestId: { type: string }
        errors:
          type: array
          items:
            type: object
            properties:
              pointer: { type: string }
              code: { type: string }
              message: { type: string }
      examples:
        - type: https://form.bevorasg.com/errors/incomplete-record
          title: Record is incomplete
          status: 422
          detail: 3 mandatory items have no recorded status.
          requestId: 01JQ8X2N
          errors:
            - pointer: /items/9
              code: REQUIRED
              message: Item 9 has no recorded status

    Page:
      type: object
      required: [page]
      properties:
        page:
          type: object
          required: [hasMore, limit]
          properties:
            nextCursor: { type: [string, 'null'] }
            hasMore: { type: boolean }
            limit: { type: integer }
            total: { type: [integer, 'null'], description: Present only when includeTotal=true }

    Frequency:
      type: string
      enum: [M1, M3, M6, Y]

    AssetStatus:
      type: string
      enum: [ACTIVE, UNDER_REPAIR, DECOMMISSIONED]

    JobStatus:
      type: string
      enum: [SCHEDULED, ASSIGNED, IN_PROGRESS, SUBMITTED, VERIFIED, ARCHIVED, VOIDED]

    ItemStatus:
      type: string
      enum: [DONE, NOT_APPLICABLE, NOT_DONE]

    SpecType:
      type: string
      enum: [RANGE, TOLERANCE, PASS_FAIL, TEXT]

    Judgement:
      type: string
      enum: [PASS, FAIL, NOT_EVALUATED]

    AuthResult:
      type: object
      required: [accessToken, expiresIn, user]
      properties:
        accessToken: { type: string }
        expiresIn: { type: integer, description: Seconds }
        user: { $ref: '#/components/schemas/CurrentUser' }

    # ------------------------------------------------- slice 13-MFA (§§4-5, §7)
    #
    # Every schema below mirrors the Zod DTO in `shared/src/mfa.ts` exactly,
    # required-vs-optional included (ADR-002, and the standing CI rule that
    # openapi must match the DTO the server actually validates against - job 5
    # checks structure, not live conformance, so this correspondence is
    # maintained by hand and reviewed).

    MfaChallenge:
      type: object
      description: |
        The alternative 200 body of `POST /auth/login`. No access token and no
        refresh cookie accompany it.

        `challengeToken` is a TOKEN and BUILD_HANDOFF non-negotiable #10
        applies to it in full: the client holds it in memory only and must
        never write it to `localStorage`/`sessionStorage`. It is valid for 5
        minutes, is single-use, authorises only `/auth/mfa/*`, and can never
        be presented as an access token (distinct audience and `typ`).
      required: [mfaRequired, mfaEnrolled, challengeToken, expiresIn]
      properties:
        mfaRequired: { type: boolean, const: true }
        mfaEnrolled:
          type: boolean
          description: False means the client must run enrolment before it can complete the login.
        challengeToken: { type: string }
        expiresIn: { type: integer, description: Seconds }

    MfaEnrolRequest:
      type: object
      properties:
        challengeToken:
          type: string
          description: Present when enrolling mid-login; absent when an already-signed-in user enrols with a Bearer access token.

    MfaEnrolResponse:
      type: object
      required: [secret, otpauthUri]
      properties:
        secret:
          type: string
          description: Base32 (RFC 4648, unpadded) shared secret, for manual entry.
        otpauthUri:
          type: string
          description: "`otpauth://totp/...` - the same secret in the form a QR code encodes. HMAC-SHA1, 6 digits, 30 s period."

    MfaEnrolConfirmRequest:
      type: object
      required: [totpCode]
      properties:
        totpCode: { type: string, description: The 6-digit code from the authenticator app. }
        challengeToken: { type: string }

    MfaEnrolConfirmResponse:
      type: object
      required: [recoveryCodes, auth]
      properties:
        recoveryCodes:
          type: array
          description: Ten single-use codes, returned exactly once and never retrievable again.
          items: { type: string }
        auth:
          description: Non-null only when this call completed a login challenge; null for a voluntary enrolment.
          oneOf:
            - $ref: '#/components/schemas/AuthResult'
            - type: 'null'

    MfaVerifyRequest:
      type: object
      required: [challengeToken, totpCode]
      properties:
        challengeToken: { type: string }
        totpCode: { type: string, description: The 6-digit code from the authenticator app. }

    MfaRecoveryRequest:
      type: object
      required: [challengeToken, recoveryCode]
      properties:
        challengeToken: { type: string }
        recoveryCode: { type: string, description: One of the single-use recovery codes issued at enrolment. }

    PasswordChangeRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword: { type: string, format: password }
        newPassword: { type: string, format: password, minLength: 12 }

    CurrentUser:
      type: object
      required: [id, fullName, roles]
      properties:
        id: { type: string, format: uuid }
        fullName: { type: string }
        email: { type: string, format: email }
        roles:
          type: array
          items: { type: string }
        areaScope:
          type: array
          items: { type: string, format: uuid }
        activeDelegations:
          type: array
          items:
            type: object
            properties:
              delegatorId: { type: string, format: uuid }
              delegatorName: { type: string }
              validTo: { type: string, format: date-time }
        stepUpValidUntil: { type: [string, 'null'], format: date-time }

    Asset:
      type: object
      required: [id, code, assetTypeId, status]
      properties:
        id: { type: string, format: uuid }
        code: { type: string, examples: [AW03] }
        assetTypeId: { type: string, format: uuid }
        assetTypeName: { type: string }
        description: { type: [string, 'null'] }
        manufacturer: { type: [string, 'null'] }
        model: { type: [string, 'null'] }
        serialNumber: { type: [string, 'null'] }
        areaId: { type: [string, 'null'], format: uuid }
        locationDetail: { type: [string, 'null'] }
        commissionedOn: { type: [string, 'null'], format: date }
        scheduleAnchorDate: { type: string, format: date }
        status: { $ref: '#/components/schemas/AssetStatus' }
        active: { type: boolean }
        codeProvisional:
          type: boolean
          description: |
            Slice 13a / B-09: `true` when `code` was auto-generated (the
            admin did not supply one) and not yet confirmed — the UI renders
            this "RED". Cleared the moment an admin changes `code`.

    AssetCreate:
      type: object
      required: [assetTypeId, scheduleAnchorDate]
      properties:
        code:
          type: string
          minLength: 1
          maxLength: 50
          description: Optional — omit to have the server auto-generate a provisional/"RED" code (B-09).
        assetTypeId: { type: string, format: uuid }
        description: { type: string }
        manufacturer: { type: string }
        model: { type: string }
        serialNumber: { type: string }
        areaId: { type: string, format: uuid }
        locationDetail: { type: string }
        commissionedOn: { type: string, format: date }
        scheduleAnchorDate: { type: string, format: date }

    AssetUpdate:
      type: object
      properties:
        code:
          type: string
          minLength: 1
          maxLength: 50
[...]
